<template>
  <el-pagination
    :current-page="currentPage"
    :page-sizes="[10, 20, 30, 40]"
    :page-size="pageSize"
    layout="sizes, prev, pager, next, jumper"
    :total="total"
    @size-change="handleSizeChange"
    @current-change="handleCurrentChange"
  >
  </el-pagination>
</template>

<script lang="ts" setup>
import { toRefs } from "vue";
const props = defineProps<{
  handleSizeChange: (value: number) => void;
  handleCurrentChange: (value: number) => void;
  currentPage: number;
  pageSize: number;
  total: number;
}>();
const { handleSizeChange, handleCurrentChange, currentPage, pageSize, total } =
  toRefs(props);
</script>

<style lang="scss" scoped></style>
