<template>
  <el-table :data="[{ ...editData }]" style="width: 100%" table-layout="fixed">
    <el-table-column property="propName" label="属性名称" width="150">
      <template #default>
        <el-input v-model="editData.propName" />
      </template>
    </el-table-column>
    <el-table-column property="prodPropValues" label="属性值" width="200">
      <template #default>
        <el-input
          v-for="(item, index) in editData.prodPropValues"
          :key="index"
          v-model="item.propValue"
        />
        <el-button type="primary" @click="addPropValue">+</el-button>
      </template>
    </el-table-column>
  </el-table>
</template>

<script setup lang="ts">
import { toRefs } from "vue";
import { SpecsType } from "../types";
const props = defineProps<{
  editData: SpecsType;
  type: string;
}>();
const { editData, type } = toRefs(props);
const emit = defineEmits(["addPropValue"]);
const addPropValue = () => {
  emit("addPropValue");
};
</script>

<style scoped></style>
