<template>
    <div class="main">
        <el-container>
            <el-aside width="200px">
                <el-row class="tac">
                    <el-col :span="12" class="">
                        <h5 class="mb-2" @click="$router.push('/index')">mall4j建站后台</h5>
                        <el-menu
                            
                            active-text-color="#ffd04b"
                            background-color="#545c64"
                            class="el-menu-vertical-demo"
                            default-active="2"
                            text-color="#fff"
                            router
                            :collapse="isCollapse"
                        >
                            <el-menu-item index="1" route="/index">
                                <el-icon><icon-menu /></el-icon>
                                <span>首页</span>
                            </el-menu-item>

                            <el-sub-menu v-for="item in menuList" :key="item.menuId" :index="'/' + item.list[0].url">
                                <template #title>
                                    <icon-svg :name="item.icon || ''" class="site-sidebar__menu-icon"></icon-svg>
                                    <span>{{item.name}}</span>
                                </template>
                                
                                <el-menu-item class="el_menu_back" v-for="prev in item.list" :key="prev.menuId" :index="'/'+prev.url">
                                    <icon-svg :name="item.icon || ''" class="site-sidebar__menu-icon"></icon-svg>
                                    {{prev.name}}
                                </el-menu-item>

                            </el-sub-menu>
                            <!-- <el-sub-menu index="2">
                                <template #title>
                                    <el-icon><location /></el-icon>
                                    <span>产品管理</span>
                                </template>
                                
                                <el-menu-item index="2-1" route="/prodtag">分组管理</el-menu-item>
                                <el-menu-item index="2-2" route="/prodlist">产品管理</el-menu-item>
                                <el-menu-item index="2-3" route="/category">分类管理</el-menu-item>
                                <el-menu-item index="2-4" route="/prodcomm">评论管理</el-menu-item>
                                <el-menu-item index="2-5" route="/spec">规格管理</el-menu-item>

                            </el-sub-menu>
                            
                            <el-sub-menu index="3">
                                <template #title>
                                    <el-icon><location /></el-icon>
                                    <span>门店管理</span>
                                </template>
                                
                                <el-menu-item index="3-1" route="/notice">公告管理</el-menu-item>
                                <el-menu-item index="3-2" route="/hotsearch">热搜管理</el-menu-item>
                                <el-menu-item index="3-3" route="/indeximg">轮播图管理</el-menu-item>
                                <el-menu-item index="3-4" route="/transport">运费模板</el-menu-item>
                                <el-menu-item index="3-5" route="/pickaddr">自提点管理</el-menu-item>

                            </el-sub-menu>

                            <el-sub-menu index="4">
                                <template #title>
                                    <el-icon><location /></el-icon>
                                    <span>会员管理</span>
                                </template>
                                
                                <el-menu-item index="4-1" route="/user">会员管理</el-menu-item>

                            </el-sub-menu>

                            <el-sub-menu index="5">
                                <template #title>
                                    <el-icon><location /></el-icon>
                                    <span>订单管理</span>
                                </template>
                                
                                <el-menu-item index="5-1" route="/order">订单管理</el-menu-item>

                            </el-sub-menu>

                            <el-sub-menu index="6">
                                <template #title>
                                    <el-icon><location /></el-icon>
                                    <span>系统管理</span>
                                </template>
                                
                                <el-menu-item index="6-1" route="/area">地址管理</el-menu-item>
                                <el-menu-item index="6-2" route="/sysuser">管理员列表</el-menu-item>
                                <el-menu-item index="6-3" route="/role">角色管理</el-menu-item>
                                <el-menu-item index="6-4" route="/menu">菜单管理</el-menu-item>
                                <el-menu-item index="6-5" route="/schedule">定时任务</el-menu-item>
                                <el-menu-item index="6-6" route="/config">参数管理</el-menu-item>
                                <el-menu-item index="6-7" route="/log">系统日志</el-menu-item>

                            </el-sub-menu> -->
                        </el-menu>

                    </el-col>
                </el-row>
            </el-aside>
            <el-container>
                <el-header>
                    <span>收起</span>
                    <span>admin</span>
                </el-header>
                <el-main>
                    <router-view></router-view>
                </el-main>
            </el-container>
        </el-container>
    </div>
</template>

<script setup lang="ts">
import {
    Document,
    Menu as IconMenu,
    Location,
    Setting,
} from '@element-plus/icons-vue'
import store from "../../store/index";
import { computed } from "vue";

const { login } = store();
const menuList = computed( () => login.menuList )

const isCollapse = false //收起


</script>

<style lang="scss">
.main{
    width: 100%;
    height: 100%;
    .el-container{
        width: 100%;
        height: 100%;
        .tac{
            width: 100%;
            height: 100%;
            .el-col-12{
                width:100%;
                height: 100%;
                max-width: 200px;
                background-color: #111125;
                flex:1;
                .mb-2{
                    width: 100%;
                    height: 50px;
                    background-color: #5eabfd;
                    color: #ffffff;
                    line-height: 50px;
                    text-align: center;
                    font-size: 20px;
                    cursor: pointer;
                }
                .el-menu-vertical-demo{
                    width: 100%;
                    height: calc(100% - 50px);
                    overflow: auto;
                }
                .el-menu{
                    background-color: #111125;
                    .el-sub-menu__title{
                        background-color: #111125!important;
                    }
                    .el-sub-menu__title:hover{
                        background-color: #2f2f45!important;
                    }
                }
                .el_menu_back{
                    background-color: #080810;
                }
                .el-menu-item:hover{
                    background-color: #2f2f45;
                }
            }
        }
    }
    .el-header{
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
        box-shadow: 0 2px 4px #d8d8d8;
        border: solid 1px #d8d8d8;
    }
    .el-main{
        height: auto;
        overflow: auto;
    }
    .is-vertical{
        background-color: rgb(232, 234, 237)
    }
    .site-sidebar__menu-icon {
        width: 24px;
        margin-right: 5px;
        text-align: center;
        font-size: 16px;
        color: inherit !important;
    }
}
</style>