<template>
    <div class="login">
        <div class="login_main">
            <div class="login_logo">
                <img src="../../assets/img/login-logo.png" alt="">
            </div>
            <el-form
                ref="ruleFormRef"
                :model="ruleForm"
                :rules="rules"
                status-icon
                class="demo-ruleForm"
            >
                <el-form-item label="" prop="username">
                    <el-input placeholder="用户名" v-model="ruleForm.username" type="text" autocomplete="off" />
                </el-form-item>

                <el-form-item label="" prop="pwd">
                    <el-input placeholder="密码"  v-model="ruleForm.pwd" type="password" autocomplete="off"/>
                </el-form-item>

                <el-form-item label="" prop="code" class="code">
                    <el-input style="width:180px" placeholder="验证码" type="text" v-model="ruleForm.code" />
                    <img :src="captchaImg" alt="">
                </el-form-item>

                <el-form-item>
                    <el-button type="primary" @click="submitForm(ruleFormRef)">登录</el-button>
                </el-form-item>

            </el-form>
        </div>
    </div>
</template>

<script setup lang="ts">
import { reactive, ref } from 'vue'
// import type { FormInstance } from 'element-plus'
import { uuid } from "vue-uuid"
import useStore from '../../store';
import type { FormInstance, FormRules } from 'element-plus'
import { useRouter } from "vue-router"

    const router = useRouter()
    const ruleFormRef = ref<FormInstance>()
    const { login } = useStore()
    const uuidCode = uuid.v4() //生成uuid
    const ruleForm = reactive({
        username: '',
        pwd: '',
        code: '',
    })
    const captchaImg = ref(`/api/captcha.jpg?uuid=${uuidCode}`)

    const submitForm = async (ruleFormRef:FormInstance | undefined ) =>{
        if(!ruleFormRef) return;
        await ruleFormRef.validate( async ( valid, fields ) => {
            // valid 校验是否通过，fields 哪一个没有校验通过
            if(valid){
                // 发起请求
                login.loginAction({
                    credentials:ruleForm.pwd,
                    imageCode:ruleForm.code,
                    principal:ruleForm.username,
                    sessionUUID:uuidCode
                })
            }else{
                console.log(`${fields}校验不通过`);
            }
        })
    }
    
    const rules = reactive<FormRules>({
        username: [
            { required: true, message : '请输入用户名', trigger : 'blur' },
            { min : 2, max : 10, message : '最多可输入10个字符哦', trigger : 'blur' }
        ],
        pwd: [{ required : true, message :'请输入密码', trigger : 'blur' }],
        code: [{ required : true, message :'请输入验证码', trigger : 'blur' }],
    })
    
</script>

<style lang="scss">
.login{
    width: 100%;
    height: 100%;
    background: url(../../assets/img/login-bg.png) no-repeat;
    background-size: cover;
    .login_main{
        width: 380px;
        height: 100%;
        margin: 0 auto;
        .login_logo{
            width: 100%;
            height: 100px;
            text-align: center;
            padding-top: 160px;
            img{
                width: 60%;
                height:60%;
            }
        }
        .demo-ruleForm{
            width: 100%;
            height: auto;
            .el-form-item{
                width: 100%;
                height: 60px;
                .el-form-item__content{
                    width: 100%;
                    height: 45px;
                    margin: 0;
                    justify-content: space-between;
                    .el-input{
                        width: 100%;
                        height: 100%;
                    }
                    .el-button{
                        width: 100%;
                        height: 45px;
                    } 
                }
            }
            .code{
                img{
                    width: 40%;
                    height: 50px;
                }
            }
        }
    }
}
</style>