<template>
  <el-upload
    v-model="editData.pic"
    class="avatar-uploader"
    action="/api/admin/file/upload/element"
    :show-file-list="false"
    :on-success="handleAvatarSuccess"
    :before-upload="beforeAvatarUpload"
    limit="1"
    :headers="{
      Authorization: storage.getCache('token'),
    }"
  >
    <img
      v-if="editData.pic"
      :src="'http://img-test.gz-yami.com/' + editData.pic"
      class="avatar"
      width="240"
      height="150"
    />
    <el-icon v-else class="avatar-uploader-icon">
      <Plus />
    </el-icon>
  </el-upload>
</template>

<script setup lang="ts">
import { ElMessage, UploadProps } from "element-plus";
import storage from "@/utils/storage";
import { toRefs } from "vue";
interface PropType {
  editData: any;
}
const props = defineProps<PropType>();
const { editData } = toRefs(props);
const handleAvatarSuccess: UploadProps["onSuccess"] = (
  response,
  uploadFile
) => {
  console.log(uploadFile.raw);
  // imageUrl.value = URL.createObjectURL(uploadFile.raw!);
};

const beforeAvatarUpload: UploadProps["beforeUpload"] = (rawFile) => {
  if (rawFile.type !== "image/jpeg") {
    ElMessage.error("Avatar picture must be JPG format!");
    return false;
  } else if (rawFile.size / 1024 / 1024 > 2) {
    ElMessage.error("Avatar picture size can not exceed 2MB!");
    return false;
  }
  return true;
};
</script>

<style scoped></style>
