<template>
    <div>
        <!-- 会员管理 -->
        <avue-crud :data="vip.vipLists" :option="option" v-model:page='page' @search-change="searchs"
            @on-load="getList" @size-change="sizeChange" @current-change="currentChange">
            <template #menu="{ row }">

                <el-button type="primary" icon="el-icon-edit" @click="handedit(row)">编辑</el-button>

            </template>
            <template #pic="scope">

                <img :src="scope.row.pic" alt="" class="img1">

            </template>
            <template #status="scope">
                <el-tag v-if="scope.row.status === 1" size="small">正常</el-tag>
                <el-tag v-else size="small">禁用</el-tag>
            </template>

        </avue-crud>
        <!-- 新增编辑弹窗 -->
        <el-dialog v-model="dialogVisible" width="50%">
            <el-form ref="ruleFormRef" v-model="form" label-width="120px">
                <el-form-item label="用户头像"></el-form-item>
                <el-form-item label="用户昵称">
                    <el-input v-model="form.nickName" placeholder="用户昵称" />
                </el-form-item>
                <el-form-item label="状态">
                    <el-radio-group v-model="form.status">
                        <el-radio label='0'>禁用</el-radio>
                        <el-radio label='1'>正常</el-radio>
                    </el-radio-group>
                </el-form-item>
            </el-form>
            <template #footer>
                <span class="dialog-footer">
                    <el-button @click="dialogVisible = false">取消</el-button>
                    <el-button type="primary" @click="confirm">
                        确定
                    </el-button>
                </span>
            </template>
        </el-dialog>
    </div>
</template>

<script setup lang="ts">
import { reactive, ref } from 'vue'
import { vipList, vipedit } from '../../../api/user'
import userStore from '../../../store'
const { vip } = userStore()
const getList = async (params: any) => {
    const res = await vipList(params)
    console.log(res.data.records)
    vip.vipLists = res.data.records
    page.value.total = res.data.total
    page.value.pageSize = res.data.size
    page.value.currentPage = res.data.current
}
const page = ref({
    total: 0, // 总页数
    currentPage: 1, // 当前页数
    pageSize: 10 // 每页显示多少条
})
getList({ size: page.value.pageSize, current: page.value.currentPage })
// 点击每页多少条
const sizeChange = (val: number) => {
    page.value.pageSize = val;
    getList({ size: val })
}
//点击页码
const currentChange = (val: number) => {
    page.value.currentPage = val;
    getList({ current: val })
}
// 搜索
const searchs = (params: any, done: any) => {
    done()
    getList(params)
}
//编辑
const dialogVisible = ref(false)
const form = reactive({
    nickName: '',
    methodName: '',
    birthDate: null,
    loginPassword: null,
    modifyTime: '',
    payPassword: null,
    pic: null,
    realName: null,
    score: null,
    sex: '',
    status: '1',
    userId: '',
    userLastip: null,
    userLasttime: null,
    userMail: null,
    userMemo: null,
    userMobile: null,
    userRegip: null,
    userRegtime: ''
})
const handedit = (row: any) => {
    dialogVisible.value = true
    form.nickName = row.nickName,
    form.methodName = row.methodName,
    form.birthDate = row.birthDate,
    form.loginPassword = row.loginPassword,
    form.modifyTime = row.modifyTime,
    form.payPassword = row.payPassword,
    form.pic = row.pic
    form.realName = row.realName
    form.score = row.scope
    form.sex = row.sex
    form.status = row.status
    form.userId = row.userId
    form.userLastip = row.userLastip
    form.userLasttime = row.userLasttime
    form.userMail = row.userMail
    form.userMemo = row.userMemo
    form.userMobile = row.userMobile
    form.userRegip = row.userRegip
    form.userRegtime = row.userRegtime
}
const confirm = async () => {
    await vipedit({ ...form })
    getList({ size: page.value.pageSize, current: page.value.currentPage })
    dialogVisible.value = false
}
const option = {
    border: true,
    stripe: true,
    menuAlign: 'center',
    align: 'center',
    addBtn: false,
    editBtn: false,
    delBtn: false,
    column: [{
        label: '用户昵称',
        prop: 'nickName',
        search: true
    },
    {
        label: '用户头像',
        prop: 'pic',
        type: 'upload',
        slot: true,
        listType: 'picture-img'
    },
    {
        label: '状态',
        prop: 'status',
        type: 'select',
        slot: true,
        search: true,
        dicData: [
        {
            label: '正常',
            value: 1
        }, {
            label: '禁用',
            value: 0
        }
        ]
    },
    {
        label: '注册时间',
        prop: 'userRegtime',
    },
    {
        label: '',
        prop: '',
    },
    ]
}
</script>

<style lang="scss" scoped>
.produce {
    width: 100%;
    height: 100%;
    padding: 24px;
    box-sizing: border-box;

    .button {
        color: #fff !important;
    }

    /* form {
        width: 100%;
        display: flex;
        font-size: 12px !important;

        .el-form-item {
        margin-right: 10px;
        }
    } */

    .produce_table {
        margin-top: 10px;
    }
}

svg {
    margin-right: 5px;
}
</style>