<template>
    <el-dialog
      v-model="sysmenuStore.EditmenudialogVisible"
      title="编辑"
      width="50%"
    >
      <el-form :model="sysmenuStore.EditmenuFormData">
          <el-form-item label="类型">
              <el-radio-group v-model="sysmenuStore.EditmenuFormData.menuradio" @change="radiochange">
                  <el-radio label="0" size="large">目录</el-radio>
                  <el-radio label="1" size="large">菜单</el-radio>
                  <el-radio label="2" size="large">按钮</el-radio>
              </el-radio-group>
          </el-form-item>
          <el-form-item label="菜单名称" v-if="sysmenuStore.EditmenuFormData.menuradio=='1'">
              <el-input v-model="sysmenuStore.EditmenuFormData.name" placeholder="菜单名称"/>
          </el-form-item>
          <el-form-item label="目录名称" v-if="sysmenuStore.EditmenuFormData.menuradio=='0'">
              <el-input v-model="sysmenuStore.EditmenuFormData.name" placeholder="目录名称"/>
          </el-form-item>
          <el-form-item label="上级菜单" v-if="sysmenuStore.EditmenuFormData.menuradio=='0'||sysmenuStore.EditmenuFormData.menuradio=='1'">
              <el-cascader
                expand-trigger="hover"
                v-model="sysmenuStore.EditmenuFormData.parentId"
                :options="sysmenuStore.menudata"
                change-on-select
                :props="props"
                @change="sysmenuStore.handleSelectMenuChange"
              >
              </el-cascader>
          </el-form-item>
          <el-form-item label="菜单路由" v-if="sysmenuStore.EditmenuFormData.menuradio=='1'">
              <el-input v-model="sysmenuStore.EditmenuFormData.url" placeholder="菜单路由"/>
          </el-form-item>
          <el-form-item label="授权标识" v-if="sysmenuStore.EditmenuFormData.menuradio=='1'||sysmenuStore.EditmenuFormData.menuradio=='2'">
              <el-input v-model="sysmenuStore.EditmenuFormData.perms" placeholder="授权标识"/>
          </el-form-item>
          <el-form-item label="排序号">
            <el-input-number
              v-model="sysmenuStore.EditmenuFormData.orderNum"
              :min="0"
              :max="10"
              controls-position="right"
              size="large"
              @change="handleChange"
            />
          </el-form-item>
          <el-form-item label="菜单图标">
            <el-row>
            <el-col :span="22">
              <el-popover
                ref="iconListPopover"
                placement="bottom-start"
                trigger="click"
                popper-class="mod-menu__icon-popover">
                <div class="mod-menu__icon-list">
    
                </div>
              </el-popover>
              <el-input  v-popover:iconListPopover :readonly="true" placeholder="菜单图标名称" class="icon-list__input"></el-input>
            </el-col>
          </el-row>
          </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="sysmenuStore.EditmenudialogVisible = false">取消</el-button>
          <el-button type="primary" @click="sysmenuStore.menuEditTrue">
            确定
          </el-button>
        </span>
      </template>
    </el-dialog>
  </template>
  
  <script lang="ts" setup>
    import userStore from '../../store'
    const {sysmenuStore}=userStore()
    sysmenuStore.GetenuList()
      const menuListTreeProps={
        value: 'menuId',
        label: 'name'
      }
      const props = {
          checkStrictly: true,
          value: 'menuId',
          label: 'name'
      }
      const getCheckedNodes=(value:any)=>{
          console.log(sysmenuStore.menuCas)
      }
      const handleChange=()=>{
  
      }
      const radiochange=(value:any)=>{
        sysmenuStore.EditmenuFormData.menuradio=value
      }
  
  </script>
  
  <style scoped lang="scss">
    .iconBtn{
      width: 70%;
      height: 40px;
    }
    .el-input__inner {
      cursor: pointer;
    }
    
  </style>