<template>
<div class="page">
    <!-- rev表示上一页，next为下一页，pager表示页码列表，
jumper表示跳页元素，total表示总条目数，size用于设置每页显示的页码数量 -->
   <el-pagination  class="pagelist" layout="total, sizes, prev, pager, next, jumper"
    :total="total"
    :current-page="currentPage"
    :page-sizes="[10, 20, 30, 40]"
    :page-size="pageSize" 
    @size-change="sizeChange"
    @current-change="currentChange"
    :background="background"
    />
</div>

</template>

<script lang="ts" setup>
import { ref } from 'vue'
const background = ref(true)
import { toRefs } from "vue";
const pageProps = defineProps<{
  sizeChange: (value: number) => void;
  currentChange: (value: number) => void;
  currentPage: number;//新当前页
  pageSize: number;//每页显示条目个数
  total: number;//总数据
}>();
const { sizeChange, currentChange, currentPage, pageSize, total } =
  toRefs(pageProps);
</script>

<style>
.page{
    width: 100%;
    padding: 10px;
    /* margin-left: 30%; */
    margin-top: 20px;
}
.pagelist{
    width: 63%;
    margin-left: 35%;
}
</style>