<template>
<div class="table">
<slot name="total"></slot>
  <!-- 表格 -->
  <el-table
    :data="logtableData"
    tooltip-effect="dark"
    style="width: 100%"
    stripe
    table-layout="fixed"
    @selection-change="selectionChange"
  >
    <el-table-column type="selection" width="55"> </el-table-column>
    <el-table-column
      v-for="(item, index) in column"
      :key="index"
      :prop="item.props"
      :label="item.label"
      :width="item.width"
      :fixed="item.fixed"
    >
      <template v-if="item.type === 'image'" #default="scope">
        <img :src="scope.row[item.props]" alt="" />
      </template>
      <template v-else-if="item.render" #default="scope">
        {{ item.render(scope) }}
      </template>
      <template v-else-if="item.actions" #default="scope">
        <el-button
          v-for="(action, num) in item.actions"
          :key="num"
          :type="action.type"
          :icon="action.icon"
          @click="action.event(scope.row)"
        >
          {{ action.name }}
        </el-button>
      </template>
    </el-table-column>
  </el-table>
</div>
  
</template>

<script setup lang="ts">
import {toRefs} from 'vue'
import {ColumnType} from '../../types/sys/loglist'
interface PropType {
  column: ColumnType[];
  selectionChange: (selection: any) => void;
  logtableData: any[];
}
const props = defineProps<PropType>();
const { selectionChange, logtableData, column } = toRefs(props);

</script>

<style>
.table{
    padding: 30px;
    padding-right: 30px;
}
</style>