<template>

  <div class="config">
<div class="group_table">
<!-- 表格 -->
   <avue-crud
       v-model="form"
        :option="option" 
       :data="sysConfigStore.configList"
        v-model:search="sysConfigStore.configSearch"
        v-model:page="page"
        @on-load="onLoad"
        @selection-change="all"
        >
        <!--  :data="sysStore.configList" -->
        <!-- 搜索 -->
         <template  #paramKey-search="{size}">
            <el-input style="width:80%" :size='size' placeholder="参数名" v-model="sysConfigStore.configSearch.paramKey"></el-input>
      </template>
        <!-- 按钮 -->
        <template #search-menu="{row,size}">
         <el-button 
         style="marginTop:20px" 
         type="primary" 
         :size="size"
          @click="sysConfigStore.searchConfig(row)">
          搜索
         </el-button>
         <el-button 
         style="marginTop:20px" 
          type="primary" 
          :size="size"
           @click="sysConfigStore.clear(row)">
          清空
         </el-button>
      </template>
      <!-- 新增 -->
      <template  #menu-left="{}">
        <el-button  
        type="primary"
           color="#02A1E9"
           icon="el-icon-plus"
           class="left"
            @click="addList()"
           >
           新建
           </el-button>
           <!-- 批量删除 -->
           <el-button class="btn" type="danger"  @click="allDel">
                     批量删除
                </el-button>
      </template>
        <!-- 操作插槽  menu固定位置-->
        <template #menu='{row,size}'>
            <el-button type="primary" :size="size" @click="updateList(row)">
                 编辑
            </el-button>
            <el-button class="btn" type="danger" :size="size" @click="configDel(row)">
                 删除
            </el-button>
        </template>
        </avue-crud>

        <!-- 弹框 -->
        <el-dialog v-model="dialogFormVisible" :title="flag?'新增':'编辑'">
          <el-form :model="form">
            <el-form-item label="参数名" >
              <el-input v-model="form.paramKey" autocomplete="off" placeholder="参数名"/>
            </el-form-item>
              <el-form-item label="参数值" >
              <el-input v-model="form.paramValue" autocomplete="off" placeholder="参数值"/>
            </el-form-item>
              <el-form-item label="备注 " >
              <el-input v-model="form.remark" autocomplete="off" placeholder="备注"/>
            </el-form-item>
          </el-form>
          <template #footer>
            <span class="dialog-footer">
              <el-button @click="dialogFormVisible = false">取消</el-button>
              <el-button type="primary" @click="confirm"
                >确定</el-button
              >
            </span>
          </template>
        </el-dialog>
      </div> 
  </div> 
</template>

<script  setup lang='ts'>
import userStore from '../../../store'
import {ref,reactive} from 'vue'
import{ElMessageBox,ElMessage}from 'element-plus'//弹框
import {put_config,post_config,delete_config} from '../../../api/sys/config'

const data=ref(null)
const {sysConfigStore}=userStore()
sysConfigStore.getconfig()
const dialogFormVisible = ref(false);
let allList=reactive([]) as number[]
const flag=ref(false)

// 分页
const page={
  total:sysConfigStore.configDeatil,
  currentPage:sysConfigStore.configCurrent,
  pageSize:sysConfigStore.configSize,
  layout: "total, sizes, prev, pager, next, jumper",
}

const onLoad=(page:any)=>{
sysConfigStore.configCurrent=page.currentPage
console.log(sysConfigStore.configCurrent);
sysConfigStore.getconfig()
}
const option = {
  align:"center",
  search:{},
  index: false,
  selection: true,
  border:true,
  editBtn:false,
  delBtn:false,
  searchBtn:false,
  addBtn:false,
  emptyBtn:false,
  searchMenuSpan:5,
  column: [{
    label: '参数名',
    prop: 'paramKey',
    slot:true,
    search:true,
  }, {
    label: '参数值',
    prop: 'paramValue'
  },{
    label: '备注',
    prop: 'remark'
  }
  ]
}
let form=reactive({
  paramKey:'',
  paramValue:'',
  remark:'',
  id:0
})

// 添加
const addList=()=>{
   dialogFormVisible.value=true
    flag.value=true,
    form.paramKey='',
    form.paramValue='',
    form.remark='',
    form.id=0
}
//编辑
const updateList=(row:any)=>{
  dialogFormVisible.value=true
  flag.value=false
  form.paramKey=row.paramKey
  form.paramValue=row.paramValue
  form.remark=row.remark
  form.id=row.id
}
// 点击确定添加/修改
const confirm=async()=>{
 if(flag.value){
  await post_config({...form})//添加接口
 }else{
  await put_config({...form})//编辑接口
 }
  dialogFormVisible.value=false//弹框消失
  sysConfigStore.getconfig()//渲染
}

// 删除
const configDel=(row:any)=>{
  
  var configIds=row.id
  ElMessageBox.confirm( "确定删除吗？",
    "提示" ,
    {
      confirmButtonText:"确定",
      cancelButtonText:"取消",
      type:"warning"
    }
    ).then(async()=>{
      const res:any=await delete_config([ configIds])
      console.log(res);
      
      if(res.status===200){
        ElMessage({
          type:"success",
          message:"删除成功"
        })
        sysConfigStore.getconfig()
      }
    })
}
// 获取到选中的对应数据
const all=(selsction:any)=>{
  allList=[]
  console.log(selsction);
  selsction.forEach((item:any)=>{
     return allList.push(item.id)
  })
}
// 批量删除
const allDel=async(row:any,userDel:string)=>{
  console.log(userDel);
  if(userDel===undefined){
    ElMessageBox.confirm(
      '确定删除吗？',
      "提示",
        {
      confirmButtonText:"确定",
      cancelButtonText:"取消",
      type:"warning"
    }
    ).then(async()=>{
      await delete_config(allList)
       ElMessage({
          type:"success",
          message:"删除成功"
        })
        sysConfigStore.getconfig()
    })
  }
}
</script>

<style>
.config{
  width: 100%;
  height: 100vh;
  padding: 10px;
  background: #fff;
}
.group_table{
  padding-left: 15px;
}
</style>