<template>
    <div>

      <div v-if="isRouterAlive" class="log">
        <!--  v-if="isRouterAlive"  刷新当前页面 -->
        <!-- 搜索 -->
         <el-form
        ref="LogList"
        :inline="true"
        :model="formInline"
        class="demo-form-inline"
      >
        <el-form-item label="用户名" prop="username">
          <el-input v-model="formInline.username" placeholder="搜索用户名" />
        </el-form-item>
        <el-form-item label="用户操作" prop="operation">
          <el-input v-model="formInline.operation" placeholder="搜索用户操作" />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSearch">搜索</el-button>
          <el-button @click="resetFields(LogList)">清空</el-button>
        </el-form-item>
      </el-form>
      <!-- 表格 -->
       <Table
       class="table"
        :refs="'multipleTableRef'"
        :column="column"
        :logtableData="syslogList"
        :selectionChange="logChange"
      >
        <template #total>
          <div>
            <span
              >已选择{{ selectList?.length ? selectList?.length : 0 }}条</span
            > 
          </div>
        </template>
      </Table>
      <!-- 分页 -->
      <Pagetion
      :sizeChange="logSizeChange"
      :currentChange="logCurrentChange"
      :currentPage="params.current"
      :pageSize="params.size"
      :total="total"
      />
      </div>
    </div>
</template>

<script setup lang="ts">
import Table from '@/components/sys/table.vue'
import Pagetion from "@/components/sys/page.vue"
import {get_setList} from '../../../api/sys/log'//接口
import { FormInstance } from "element-plus";
// import userStore from '../../../store'
import {systemType,systemResType} from '../../../types/sys/loglist'//ts类型
import { ref, nextTick, provide, onMounted, reactive } from 'vue';

const isRouterAlive = ref(true);
const reload = () => { 
  isRouterAlive.value = false;
  nextTick(() => {
    isRouterAlive.value = true;
  });
};
provide("reload", reload);

// 获取列表
const LogList = ref<FormInstance>();
const params = reactive({
  current: 1,//当前页
  size: 10,//每页条数
});
// 分页
const logCurrentChange = (page: number) => {
  params.current = page;
  getSystemList();
};
const logSizeChange = (size: number) => {
  params.size = size;
  getSystemList();
};
// 搜索
const formInline = reactive({//获取到输入框对应的数据
  username: "",
  operation: "",
});
const onSearch = () => {//点击搜索
  params.current = 1;
  getSystemList();
};
const resetFields = (formEl: FormInstance | undefined) => {//点击重置
  console.log(formEl);
  if (!formEl) return;
  formEl.resetFields();//重置表单
};
// 表头
const column = [
  {
    label: "用户名",
    props: "username",
    fixed: "left",
  },
  {
    label: "用户操作",
    props: "operation",
  },
  {
    label: "请求方法",
    props: "method",
  },
  {
    label: "请求参数",
    props: "params",
  },
  {
    label: "执行时长（毫秒）",
    props: "time",
  },
  {
    label: "ip地址",
    props: "ip",
  },
  {
    label: "创建时间",
    props: "createDate",
  },
];

let syslogList = ref<systemType[]>([]);
let total = ref<number>(0);
const getSystemList = async () => {
  let { data } = (await get_setList({
    ...params,
    ...formInline,
  })) as {
    data: systemResType;
  };
  syslogList.value = data.records;
  total.value = data.total;
};
onMounted(() => {
  getSystemList();
});
// 选择
let selectList = ref<systemType[]>();
const logChange = (selection: systemType[]) => {
  selectList.value = selection;
};

</script>

<style scoped lang="scss">
.log {
  width: 100%;
  background: #fff;
  padding-top: 20px;
  padding-left: 10px;
  // padding: 20px;
  padding-right: -20px;
}
.table{
  padding: 10px;
}
</style>
