<template>
    <div class="menuList">
        <!-- 表格 -->
         <avue-crud 
             :option="option"
             :data="sysmenuStore.menudata"
             ref="crud">
             <template #icon="scope">
      <i :class="scope.row.icon"
         style="font-size:24px"></i>
    </template>
    <template #menu-left="{}">
      <el-button type="primary" size="large" @click="sysmenuStore.menudialogVisible=true">
        新增
      </el-button>
    </template>
    <template #type="scope">
      <el-tag v-if="scope.row.type === 1" size="small" type="success">菜单</el-tag>
      <el-tag v-else-if="scope.row.type === 0" size="small">目录</el-tag>
      <el-tag v-else size="small" type="info">按钮</el-tag>
    </template>
    <template #menu="{row}">
      <el-link type="primary" @click="sysmenuStore.getMenuEditList(row)">修改</el-link>
      <el-link type="primary" @click="sysmenuStore.DelMenu(row.menuId)">删除</el-link>
    </template>
         </avue-crud>
    <Addalert/>
    <Editalert/>
    </div> 
</template>

<script setup lang="ts">
import userStore from '../../../store'
import {ref,reactive} from 'vue'
import{ElMessageBox,ElMessage}from 'element-plus'//弹框
import Addalert from '@/components/sys/Addalert.vue'
import Editalert from '@/components/sys/EditAlert.vue'

const {sysmenuStore}=userStore()
sysmenuStore.GetenuList()

 const parentId=0
  const option={
        search: {},
        border:true,
        align:'center',
        addBtn: false,
        rowParentKey: parentId,
        rowKey: 'menuId',
        editBtn:false,
          delBtn:false,
          column:[{
              label:'名称',
              prop:'name',
            },{
              label:'图标',
              prop:'icon',
              slot:true
            },{
              label:'类型',
              prop:'type',
              slot:true
            },{
              label:'排序号',
              prop:'orderNum'
            },{
              label:'菜单URL',
              prop:'url'
            },{
              label:'授权标识',
              prop:'perms'
            }
          ]
        }


</script>

<style scoped lang="scss">
.menuList{
  width: 100%;
  height: 100vh;
  background: #fff;
  padding: 10px;
}
  .menu{
    padding: 20px;
    box-sizing: border-box;
  }
  .el-link{
      margin-right: 10px;
  }
</style>