<template>
    <div class="role">
        <!-- 角色管理 -->
        <div>
          <avue-crud
              v-model="form"
                :option="option"
                :data="sysRoleStore.roleList"
                v-model:search="sysRoleStore.roleSearch"
                v-model:page="page"
                @on-load="onLoad"
                @selection-change="all"
                >
                 <!-- 搜索 -->
         <template  #paramKey-search="{size}">
            <el-input  :size='size' placeholder="角色名称" v-model="sysRoleStore.roleSearch.roleName"></el-input>
      </template>
        <!-- 按钮 -->
        <template #search-menu="{row,size}">
         <el-button 
         style="marginTop:20px" 
         type="primary" 
         :size="size"
          @click="sysRoleStore.searchRole(row)">
          搜索
         </el-button>
         <el-button 
         style="marginTop:20px" 
          type="primary" 
          :size="size"
           @click="sysRoleStore.clear(row)">
          清空
         </el-button>
      </template>
       <template  #menu-left="{}">
        <el-button  
        type="primary"
           color="#02A1E9"
           icon="el-icon-plus"
           class="left"
            @click="addList()"
           >
           新建
           </el-button>
                  <!-- 批量删除 -->
              <el-button class="btn" type="danger" @click="allDel">
                     批量删除
                </el-button>
      </template>

         <!-- 删除编辑 -->
         <!-- 操作插槽  menu固定位置-->
        <template #menu='{row,size}'>
            <el-button type="primary" :size="size" @click="updateList(row)">
                 编辑
            </el-button>
            <el-button class="btn" type="danger" :size="size" @click="roleDel(row)">
                 删除
            </el-button>
        </template>
    </avue-crud>
     <!-- 弹框 -->
        <el-dialog v-model="dialogFormVisible" :title="flag?'新增':'编辑'">
          <el-form :model="form">
            <el-form-item label="角色名称" >
              <el-input v-model="form.roleName" autocomplete="off" placeholder="角色名称"/>
            </el-form-item>
              <el-form-item label="备注" >
              <el-input v-model="form.remark" autocomplete="off" placeholder="备注"/>
            </el-form-item>
              <!-- <el-form-item label="备注 " :label-width="formLabelWidth">
              <el-input v-model="form.remark" autocomplete="off" placeholder="备注"/>
            </el-form-item> -->
          </el-form>
          <template #footer>
            <span class="dialog-footer">
              <el-button @click="dialogFormVisible = false">取消</el-button>
              <el-button type="primary" @click="confirm"
                >确定</el-button
              >
            </span>
          </template>
        </el-dialog>

        </div>
    </div>
    
</template>

<script setup lang="ts">
import userStore from '../../../store'
import {ref,reactive} from 'vue'
import{ElMessageBox,ElMessage}from 'element-plus'//弹框
import {post_role,put_role,delete_role} from '../../../api/sys/role'

const data=ref(null)
const {sysRoleStore}=userStore()
sysRoleStore.getrole()
const dialogFormVisible = ref(false);
let allList=reactive([]) as number[]
const flag=ref(false)

// 分页
const page={
  total:sysRoleStore.roleDeatil.total,
  currentPage:sysRoleStore.roleCurrent,
  pageSize:sysRoleStore.roleSize,
  // layout: "total, sizes, prev, pager, next, jumper",
}

const onLoad=(page:any)=>{
sysRoleStore.roleCurrent=page.currentPage
console.log(sysRoleStore.roleCurrent);
sysRoleStore.getrole()
}

const option = {
  align:"center",
  search:{},
  index: false,
  selection: true,
  border:true,
  editBtn:false,
  delBtn:false,
  searchBtn:false,
  addBtn:false,
  emptyBtn:false,
  searchMenuSpan:5,
    props: {
    label: 'label',
    value: 'value'
  },
  column: [{
    label: '角色名称',
    prop: 'roleName',
    slot:true,
    search:true,
  }, {
    label: '备注',
    prop: 'remark'
  },{
    label: '创建时间',
    prop: 'createTime'
  }
  ]
}
// 删除
const roleDel=(row:any)=>{
  // console.log(row);
  var roleIds=row.roleId;
  ElMessageBox.confirm( "确定删除吗？",
    "提示" ,
    {
      confirmButtonText:"确定",
      cancelButtonText:"取消",
      type:"warning"
    }
    ).then(async()=>{
      const res:any=await delete_role([roleIds])
      // console.log(res);
      if(res.status===200){
        ElMessage({
          type:"success",
          message:"删除成功"
        })
        sysRoleStore.getrole()
      }
    })
}
// 获取到选中的对应数据
const all=(selsction:any)=>{
  allList=[]
  console.log(selsction);
  selsction.forEach((item:any)=>{
     return allList.push(item.roleId)
  })
}
// 批量删除
const allDel=async(row:any,userDel:string)=>{
  console.log(userDel);
  if(userDel===undefined){
    ElMessageBox.confirm(
      '确定删除吗？',
      "提示",
        {
      confirmButtonText:"确定",
      cancelButtonText:"取消",
      type:"warning"
    }
    ).then(async()=>{
      await delete_role(allList)
       ElMessage({
          type:"success",
          message:"删除成功"
        })
         sysRoleStore.getrole()
    })
  }
}

let form=reactive({
 	createTime: "",
	menuIdList: [],
	remark: "",
	roleId: 0,
	roleName: ""
})
// 添加
const addList=()=>{
   dialogFormVisible.value=true
    flag.value=true
    form.roleName=''
    form.remark=''
    form.createTime=''
}
//编辑
const updateList=(row:any)=>{
  dialogFormVisible.value=true
  flag.value=false
  form.roleName=row.roleName
  form.remark=row.remark
  form.createTime=row.createTime
  form.menuIdList=row.menuIdList
  form.roleId=row.roleId
}
// 点击确定添加/修改
const confirm=async()=>{
 if(flag.value){
  await post_role({...form})//添加接口
 }else{
  await put_role({...form})//编辑接口
 }
  dialogFormVisible.value=false//弹框消失
  sysRoleStore.getrole()
}

</script>

<style>
.role{
  width: 100%;
  height: 100vh;
  padding: 10px;
  background: #fff;
}
</style>