<template>
    <div class="schedule">
        <!-- 定时任务 -->
        <div>
            <!-- 表格 -->
               <avue-crud 
            v-model="form"
        :option="option" 
       :data="sysscheduleStore.scheduleList"
        v-model:search="sysscheduleStore.scheduleSearch"
        v-model:page="page"
        @size-change="sysscheduleStore.scheduleSizeChange" 
        @current-change="sysscheduleStore.scheduleCurrentChange"
        @selection-change="all"
                >
                <!-- 搜索 -->
         <template  #beanName-search="{size}">
            <el-input style="width:80%" :size='size' placeholder="bean名称" v-model="sysscheduleStore.scheduleSearch.beanName"></el-input>
      </template>
        <!-- 按钮 -->
        <template #search-menu="{row,size}">
         <el-button 
         :size="size"
          @click="sysscheduleStore.searchschedule(row)">
          查询
         </el-button>
         <!-- <el-button  style="marginTop:20px"  type="primary" 
          :size="size"  @click="sysscheduleStore.clear(row)">
          清空
         </el-button> -->
      </template>
       <!-- 新增 -->
      <template  #menu-left="{}">
        <el-button  
        type="primary"
           color="#02A1E9"
           icon="el-icon-plus"
           class="left"
            @click="addList()"
           >
           新建
           </el-button>
           <!-- 批量删除 -->
           <el-button class="btn" type="danger"  @click="allDel">
                     批量删除
                </el-button>
                <el-button class="btn" type="danger"  @click="allPause">
                     批量暂停
                </el-button>
                <el-button class="btn" type="danger"  @click="allResume">
                     批量恢复
                </el-button>
      </template>
        <!-- 操作插槽  menu固定位置-->
        <template #menu='{row,size}'>
          <!-- 表格里的操作 -->
            <el-button el-button
                type="primary"
                :size="size"
                text 
                @click="updateList(row)">
                 编辑
            </el-button>
            <el-button type="primary"
                :size="size"
                 text 
                 @click="configDel(row)">
                 删除
            </el-button>
              <el-button el-button
                type="primary"
                :size="size"
                text 
                @click="pause(row)">
                 暂停
            </el-button>
             <el-button el-button
                type="primary"
                :size="size"
                text 
                @click="resume(row)">
                 恢复
            </el-button>
              <el-button el-button
                type="primary"
                :size="size"
                text 
                @click="run(row)">
                 立即执行
            </el-button>
        </template>
     </avue-crud>
      <!-- 弹框 -->
        <el-dialog v-model="dialogFormVisible" :title="flag?'新增':'编辑'">
          <el-form :model="form">
            <el-form-item label="bean名称" >
              <el-input v-model="form.beanName" autocomplete="off" placeholder="spring bean名称,如：testTaks"/>
            </el-form-item>
              <el-form-item label="方法名称" >
              <el-input v-model="form.methodName" autocomplete="off" placeholder="方法名称"/>
            </el-form-item>
              <el-form-item label="参数 " >
              <el-input v-model="form.params" autocomplete="off" placeholder="参数"/>
            </el-form-item>
              <el-form-item label="cron表达式 " >
              <el-input v-model="form.cronExpression" autocomplete="off" placeholder="如：0 0 12 * * ?"/>
            </el-form-item>
              <el-form-item label="备注 " >
              <el-input v-model="form.remark" autocomplete="off" placeholder="备注"/>
            </el-form-item>
          </el-form>
          <template #footer>
            <span class="dialog-footer">
              <el-button @click="dialogFormVisible = false">取消</el-button>
              <el-button type="primary" @click="confirm"
                >确定</el-button
              >
            </span>
          </template>
        </el-dialog>
        </div>
    </div>
</template>

<script setup lang="ts">
import userStore from '../../../store'
import {post_scheduleList,put_scheduleList,del_scheduleList,post_pause,post_resume,post_run} from '../../../api/sys/schedule'
import {ref,reactive} from 'vue'
import{ElMessageBox,ElMessage}from 'element-plus'//弹框
const data=ref(null)
const {sysscheduleStore}=userStore()
sysscheduleStore.getschedule()
const dialogFormVisible = ref(false);
let allList=reactive([]) as number[]
const flag=ref(false)

// 分页
const page={
  total:sysscheduleStore.scheduleDeatil,
  currentPage:sysscheduleStore.scheduleCurrent,
  pageSize:sysscheduleStore.scheduleSize,
  // layout: "total, sizes, prev, pager, next, jumper",
}
const onLoad=(page:any)=>{
sysscheduleStore.scheduleCurrent=page.currentPage
console.log(sysscheduleStore.scheduleCurrent);
sysscheduleStore.getschedule()
}

const option = {
 align:"center",
  search:{},
  index: false,
  selection: true,
  border:true,
  editBtn:false,
  delBtn:false,
  searchBtn:false,
  addBtn:false,
  emptyBtn:false,
  searchMenuSpan:5,
    props: {
    label: 'label',
    value: 'value'
  },
  column: [{
    label: 'ID',
    prop: 'jobId',
  
  }, {
    label: 'bean名称',
    prop: 'beanName',
      slot:true,
    search:true,
  },{
    label: '方法名称',
    prop: 'methodName'
  },{
    label: '参数',
    prop: 'params'
  },{
    label: 'cron表达式',
    prop: 'cronExpression'
  },{
    label: '备注',
    prop: 'remark'
  },{
    label: '状态',
    prop: 'status',
    type: 'select',
    dicData: [
      {
        label: '正常',
        value: 0
      }, {
        label: '暂停',
        value: 1
      }
    ]
  }
  ]
}

let form=reactive({
 	beanName: "",
	createTime: "",
	cronExpression: "",
	jobId: 0,
	methodName: "",
	params: "",
	remark: "",
	status: 0
})
// 添加
const addList=()=>{
   dialogFormVisible.value=true
    flag.value=true,
    form.beanName='',
    form.methodName='',
    form.params='',
    form.cronExpression='',
    form.remark=''
}

//编辑
const updateList=(row:any)=>{
  dialogFormVisible.value=true
  flag.value=false
  form.beanName=row.beanName
  form.methodName=row.methodName
  form.params=row.params
  form.cronExpression=row.cronExpression
  form.remark=row.remark
  form.status=row.status
  form.jobId=row.jobId
  form.createTime=row.createTime

}
// 点击确定添加/修改
const confirm=async()=>{
 if(flag.value){
  await post_scheduleList({...form})//添加接口
 }else{
  await put_scheduleList({...form})//编辑接口
 }
  dialogFormVisible.value=false//弹框消失
  sysscheduleStore.getschedule()//渲染
}

// 删除
const pause=(row:any)=>{
  console.log(row);
  var  jobIds=row.jobId
  ElMessageBox.confirm( "确定暂停吗？",
    "提示" ,
    {
      confirmButtonText:"确定",
      cancelButtonText:"取消",
      type:"warning"
    }
    ).then(async()=>{
      const res:any=await post_pause([jobIds])
      console.log(res);
      
      if(res.status===200){
        ElMessage({
          type:"success",
          message:"暂停成功"
        })
        sysscheduleStore.getschedule()
      }
    })
}

//  暂停
const configDel=(row:any)=>{
  console.log(row);
  var  jobIds=row.jobId
  ElMessageBox.confirm( "确定删除吗？",
    "提示" ,
    {
      confirmButtonText:"确定",
      cancelButtonText:"取消",
      type:"warning"
    }
    ).then(async()=>{
      const res:any=await del_scheduleList([jobIds])
      console.log(res);
      
      if(res.status===200){
        ElMessage({
          type:"success",
          message:"删除成功"
        })
        sysscheduleStore.getschedule()
      }
    })
}

//  恢复
const resume=(row:any)=>{
  console.log(row);
  var  jobIds=row.jobId
  ElMessageBox.confirm( `确定对[id=${row.jobId}]进行[恢复]操作?`,
    "提示" ,
    {
      confirmButtonText:"确定",
      cancelButtonText:"取消",
      type:"warning"
    }
    ).then(async()=>{
      const res:any=await post_resume([jobIds])
      console.log(res);
      
      if(res.status===200){
        ElMessage({
          type:"success",
          message:"恢复成功"
        })
        sysscheduleStore.getschedule()
      }
    })
}
// 立即执行 run
const run=(row:any)=>{
  console.log(row);
  var  jobIds=row.jobId
  ElMessageBox.confirm( `确定对[id=${row.jobId}]进行[立即执行]操作?`,
    "提示" ,
    {
      confirmButtonText:"确定",
      cancelButtonText:"取消",
      type:"warning"
    }
    ).then(async()=>{
      const res:any=await post_run([jobIds])
      console.log(res);
      
      if(res.status===200){
        ElMessage({
          type:"success",
          message:"立即执行成功"
        })
        sysscheduleStore.getschedule()
      }
    })
}
// 获取到选中的对应数据
const all=(selsction:any)=>{
  allList=[]
  console.log(selsction);
  selsction.forEach((item:any)=>{
     return allList.push(item.jobId)
  })
}
// 批量删除
const allDel=async(row:any,userDel:string)=>{
  console.log(userDel);
  if(userDel===undefined){
    ElMessageBox.confirm(
      '确定删除吗？',
      "提示",
        {
      confirmButtonText:"确定",
      cancelButtonText:"取消",
      type:"warning"
    }
    ).then(async()=>{
      await del_scheduleList(allList)
       ElMessage({
          type:"success",
          message:"删除成功"
        })
        sysscheduleStore.getschedule()
    })
  }
}
// 批量暂停  
const allPause=async(row:any,userPause:string)=>{
  console.log(userPause);
  if(userPause===undefined){
    ElMessageBox.confirm(
      '确定暂停吗？',
      "提示",
        {
      confirmButtonText:"确定",
      cancelButtonText:"取消",
      type:"warning"
    }
    ).then(async()=>{
      await post_pause(allList)
       ElMessage({
          type:"success",
          message:"暂停成功"
        })
        sysscheduleStore.getschedule()
    }) 
  }
}
// 批量恢复 allResume
const allResume=async(row:any,userResume:string)=>{
  console.log(userResume);
  if(userResume===undefined){
    ElMessageBox.confirm(
      '确定恢复吗？',
      "提示",
        {
      confirmButtonText:"确定",
      cancelButtonText:"取消",
      type:"warning"
    }
    ).then(async()=>{
      await post_resume(allList)
       ElMessage({
          type:"success",
          message:"恢复成功"
        })
        sysscheduleStore.getschedule()
    })
  }
}
</script>

<style>
.schedule{
  width: 100%;
  height: 100vh;
  background: #fff;
  padding: 15px;
}
</style>