<template>
    <!-- 管理员列表 -->
    <div class="user">
        <div>
           <avue-crud 
              v-model="form"
                :option="option"
                :data="sysUserStore.userList"
                v-model:search="sysUserStore.userSearch"
                v-model:page="page"
                @on-load="onLoad"
                @selection-change="all"
                >
          <!-- 搜索 -->
         <template  #paramKey-search="{size}">
            <el-input :size='size' placeholder="用户名" v-model="sysUserStore.userSearch.username"></el-input>
             </template>
               <!-- 按钮 -->
               <template #search-menu="{row,size}">
                <el-button 
                style="marginTop:20px" 
                type="primary" 
                :size="size"
                 @click="sysUserStore.searchUser(row)">
                 搜索
                </el-button>
                <el-button 
                style="marginTop:20px" 
                 type="primary" 
                 :size="size"
                  @click="sysUserStore.clear(row)">
                 清空
                </el-button>
             </template>
             <!-- 新增 -->
            <template  #menu-left="{}">
             <el-button  
               type="primary"
                color="#02A1E9"
                icon="el-icon-plus" 
                class="left"
                 @click="addList()"
                >
                新建
              </el-button>
              <!-- 批量删除 -->
              <el-button class="btn" type="danger"  @click="allDel">
                     批量删除
                </el-button>
            </template>
        <!-- 操作插槽  menu固定位置-->
            <template #menu='{row,size}'>
                <el-button type="primary" :size="size" @click="updateList(row)">
                     编辑
                </el-button>
                <el-button class="btn" type="danger" :size="size" @click="configDel(row)">
                     删除
                </el-button>
            </template>
      </avue-crud>
        <!-- 弹框 -->
        <el-dialog v-model="dialogFormVisible" :title="flag?'新增':'编辑'">
          <el-form :model="form">
            <el-form-item label="用户名" >
              <el-input v-model="form.username" autocomplete="off" placeholder="用户名"/>
            </el-form-item>
              <el-form-item label="密码" >
              <el-input v-model="form.password" autocomplete="off" placeholder="密码"/>
            </el-form-item>
              <el-form-item label="确认密码 " >
              <el-input v-model="form.password" autocomplete="off" placeholder="确认密码"/>
            </el-form-item>
             <el-form-item label="邮箱 " >
              <el-input v-model="form.email" autocomplete="off" placeholder="邮箱"/>
            </el-form-item>
             <el-form-item label="手机号 " >
              <el-input v-model="form.mobile" autocomplete="off" placeholder="手机号"/>
            </el-form-item>
              <el-form-item label="状态">
              <el-radio-group v-model="form.status" class="ml-4">
                <el-radio label="1">禁用</el-radio>
                <el-radio label="0">正常</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-form>
          <template #footer>
            <span class="dialog-footer">
              <el-button @click="dialogFormVisible = false">取消</el-button>
              <el-button type="primary" @click="confirm"
                >确定</el-button
              >
            </span>
          </template>
        </el-dialog>
    </div>
  </div>
</template>

<script setup lang="ts">
import userStore from '../../../store'
import {ref,reactive} from 'vue'
import{ElMessageBox,ElMessage}from 'element-plus'//弹框
import {put_userList,post_userList,delete_userList} from '../../../api/sys/user'

const data=ref(null)
const {sysUserStore}=userStore()
sysUserStore.getuser()
const dialogFormVisible = ref(false);
let allList=reactive([]) as number[]
const flag=ref(false)
// 分页
const page={
  total:sysUserStore.userDeatil,
  currentPage:sysUserStore.userCurrent,
  pageSize:sysUserStore.userSize,
  // layout: "total, sizes, prev, pager, next, jumper",
}

const onLoad=(page:any)=>{
sysUserStore.userCurrent=page.currentPage
console.log(sysUserStore.userCurrent);
sysUserStore.getuser()
}


const option = {
  align:"center",
  search:{},
  index: false,
  selection: true,
  border:true,
  editBtn:false,
  delBtn:false,
  searchBtn:false,
  addBtn:false,
  emptyBtn:false,
  searchMenuSpan:5,
  column: [{
    label: '用户名',
    prop: 'username',
    slot:true,
    search:true,
  }, {
    label: '邮箱',
    prop: 'email'
  },{
    label: '手机号',
    prop: 'mobile'
  },{
    label: '创建时间',
    prop: 'createTime'
  },{
    label: '状态',
    prop: 'status',
    type: 'select',
    dicData: [
      {
        label: '禁用',
        value: 0
      }, {
        label: '正常',
        value: 1
      }
    ]
  }
  ]
}

let form=reactive({
	createTime: "",
	email: "",
	mobile: "",
	password: "",
	roleIdList: [],
	shopId: 0,
	status: 0,
	userId: 0,
	username: ""
})

// 添加
const addList=()=>{
   dialogFormVisible.value=true
    flag.value=true,
    // form.roleIdList=[],
    // form.createTime=''
    form.email='',
    form.mobile='',
    form.password='',
    form.username='',
    form.status=0,
    form.shopId=0,
    form.userId=0
}
// 编辑
//编辑
const updateList=(row:any)=>{
  dialogFormVisible.value=true
  flag.value=false
  form.username=row.username
  form.email=row.email
  form.mobile=row.mobile
  form.password=row.password
  form.status=row.status
  form.shopId=row.shopId
  form.userId=row.userId
}
// 点击确定添加/修改
const confirm=async()=>{
 if(flag.value){
  await post_userList({...form})//添加接口
 }else{
  await put_userList({...form})//编辑接口
 }
  dialogFormVisible.value=false//弹框消失
  sysUserStore.getuser()
}

// 删除
const configDel=(row:any)=>{
  // console.log(row);
  var userIds=row.userId
  ElMessageBox.confirm( "确定删除吗？",
    "提示" ,
    {
      confirmButtonText:"确定",
      cancelButtonText:"取消",
      type:"warning"
    }
    ).then(async()=>{
      const res:any=await delete_userList([userIds])
      // console.log(res);
      if(res.status===200){
        ElMessage({
          type:"success",
          message:"删除成功"
        })
        sysUserStore.getuser()
      }
    })
}
// 获取到选中的对应数据
const all=(selsction:any)=>{
  allList=[]
  console.log(selsction);
  selsction.forEach((item:any)=>{
     return allList.push(item.userId)
  })
}
// 批量删除
const allDel=async(row:any,userDel:string)=>{
  console.log(userDel);
  if(userDel===undefined){
    ElMessageBox.confirm(
      '确定删除吗？',
      "提示",
        {
      confirmButtonText:"确定",
      cancelButtonText:"取消",
      type:"warning"
    }
    ).then(async()=>{
      await delete_userList(allList)
       ElMessage({
          type:"success",
          message:"删除成功"
        })
        sysUserStore.getuser()
    })
  }
}
</script>

<style>
.user{
  width: 100%;
  height: 100vh;
  background: #fff;
  padding: 15px;
}
</style>