<template>
    <div class="order_main">
        <div class="order_inner">
            <div class="order_header">
                <el-input v-model="input" placeholder="订单编号" clearable />
                <div class="el_data">
                    <el-date-picker
                        v-model="value2"
                        type="datetimerange"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"
                        :default-time="defaultTime2"
                    />
                </div>
                <el-select v-model="form.region" placeholder="请选择订单状态">
                    <el-option label="待付款" value="pay" />
                    <el-option label="待发货" value="shipped" />
                    <el-option label="待收货" value="received" />
                    <el-option label="待评价" value="comm" />
                    <el-option label="成功" value="success" />
                    <el-option label="失败" value="fail" />
                </el-select>
                <el-button type="primary" :icon="Search">查询</el-button>
                <el-button type="primary" @click="letfollow">导出发货名单</el-button>
                <el-button type="primary" @click="letfollow">导出销售记录</el-button>
                <el-button>清空</el-button>
            </div>
            <div class="order_main">
              <div class="card_header">
                  <span><b>商品</b> <b>成交单价/购买数量</b> </span>
                  <span>实付金额</span>
                  <span>支付方式</span>
                  <span>订单状态</span>
                  <span>操作</span>
              </div>
              <div
                  class="order_card"
                  v-for="(item, index) in data.orderList"
                  :key="index"
                >
                    <div class="card_main">
                        <div class="card_top">
                        <span>订单编号: {{ item.orderNumber }}</span>
                        <span>下单时间:{{ item.createTime }}</span>
                        </div>
                        <div class="card_center">
                        <div class="center_left">
                            <div
                            class="left_card"
                            v-for="(it, ind) in item.orderItems"
                            :key="ind"
                            >
                            <div class="_left">
                                <div class="img">
                                <img :src="rabe + it.pic" />
                                </div>
                                <div class="img_item">
                                <p>{{ it.prodName }} {{ it.skuName }}</p>
                                <p>{{ it.skuName }}</p>
                                </div>
                            </div>
                            <div class="right">
                                <p>￥{{ it.price }}</p>
                                <p>X{{ it.prodCount }}</p>
                            </div>
                            </div>
                        </div>
                        <div>
                            <p>￥{{ item.actualTotal }}</p>
                            <p>共{{ item.orderItems.length }}件</p>
                        </div>
                        <div>
                          <span v-if="item.payType === 1">微信支付</span>
                          <span v-else-if="item.payType === 2">支付宝</span>
                          <span v-else>手动代付</span>
                        </div>
                        <div>
                          <span v-if="item.status === 1"
                                size="small"
                                type="danger">
                                待付款
                          </span>
                          <span v-else-if="item.status === 2"
                                size="small"
                                type="danger">
                                待发货
                          </span>
                          <span v-else-if="item.status === 3"
                                size="small"
                                type="danger">
                                待收货
                          </span>
                          <span v-else-if="item.status === 4"
                                size="small"
                                type="danger">
                                待评价
                          </span>
                          <span v-else-if="item.status === 5"
                                size="small"
                                type="danger">
                                成功
                          </span>
                          <span v-else
                                size="small">
                                失败
                          </span>
                        </div>
                        <div><a href="#" @click="edit(item)">查看</a></div>
                        </div>
                        <div class="card_bottom">
                        <span>备注 :</span>
                        <span></span>
                        </div>
                    </div>
                </div>
                <div class="pagintion">
                <span></span>
                    <span>
                        <el-pagination
                            :page-sizes="[100, 200, 300, 400]"
                            :small="small"
                            :disabled="disabled"
                            :background="background"
                            layout="total, sizes, prev, pager, next, jumper"
                            :total="data.orderList.length"
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange"
                        />
                    </span>
                </div>
            </div>
        </div>
        <el-dialog v-model="dialogVisible" title="查看" width="30%">
            <div class="delog_header">订单编号: {{editList.list.orderNumber}}</div>
            <div class="step">
                <el-steps align-center="true">
                  <el-step title="提交订单" />
                  <el-step title="买家已付款" />
                  <el-step title="卖家已发货" />
                  <el-step title="买家已收货" />
                </el-steps>
            </div>
            <div class="tag">
                订单状态: <el-tag class="ml-2" type="danger">失败</el-tag>
            </div>
            <div class="card">
                <div class="cardLeft">
                    <div class="cardLeft_header">
                        <div class="img"><img src="../../../assets/img/car.png" alt="" /></div>
                        买家付款后才可以收货
                    </div>
                    <div class="cardLeft_main">
                        <p>
                          <span class="span_left">
                            <img src="../../../assets/img/address.png" alt="" /> 
                            收货人:
                          </span>
                          <span class="span_right">
                            {{editList.list.userAddrOrder.receiver}}
                          </span>
                        </p>
                        <p>
                          <span class="span_left">手机: </span>
                          <span class="span_right">{{editList.list.userAddrOrder.mobile}}</span>
                          
                        </p>
                        <p>
                          <span class="span_left">收货地址</span>
                          <span class="span_right">
                            {{` ${editList.list.userAddrOrder.province}
                                ${editList.list.userAddrOrder.area}
                                ${editList.list.userAddrOrder.city}`
                            }}
                          </span>
                           
                        </p>
                        <div class="ii">
                            <div class="img">
                                <img src="../../../assets/img/invoice.png" alt="" />
                            </div>
                            不开发票
                        </div>
                    </div>
                </div>
                <div class="cardRight">
                <div class="cardRight_header">
                    <div class="img">
                    <img
                        src="../../../assets/img/buyer.png"
                        alt=""
                        style="margin-right: 15px"
                    />
                    </div>
                    买家:
                </div>
                <div class="cardRight_main">
                    <div class="iii">
                    <div class="img">
                        <img src="../../../assets/img/message.png" alt="" />
                    </div>
                    买家备注:
                    </div>
                </div>
                </div>
            </div>
            <div class="shop">
                <div class="shop_top">
                <div class="shop_topcard">商品</div>
                <div>单价</div>
                <div>数量</div>
                <div>总价</div>
                </div>
                <div class="shop_center">
                <div class="shop_card">
                    <div class="img">
                      <img class="edit_img" :src="rabe+editList.list.orderItems[0].pic" alt="">
                    </div>
                    <div class="img_item">
                      {{editList.list.orderItems[0].prodName}}
                    </div>
                </div>
                <div>{{editList.list.orderItems[0].price}}</div>
                <div>{{editList.list.orderItems[0].prodCount}}</div>
                <div>{{editList.list.orderItems[0].productTotalAmount}}</div>
                </div>
            </div>
            <div class="price">
                <div class="price_left"></div>
                <div class="price_right">
                <div>
                    <span>商品总价:</span>
                    <span>￥{{editList.list.total}}</span>
                </div>
                <div>
                    <span>应付金额:</span>
                    <span>￥{{editList.list.actualTotal}}</span>
                </div>
                </div>
            </div>
            <div class="_order">
                <b>订单日志</b>
            </div>
            <div class="_order_item">
                <p>2022-10-29 09:38:42 订单更新 (成功)</p>
            </div>
        </el-dialog>
    </div>
</template>

<script setup lang="ts">
import useStore from "../../../store/index"
import { ref, reactive } from "vue"
import { ElMessageBox } from 'element-plus';
import { Search } from '@element-plus/icons-vue';
import { _get_orderList } from "../../../api/order"
import useJsonToExcel from "../../../hooks/useJsonToExcel"

    const { order } = useStore()
    order.get_orderList({
        current: 1,
        size: 10
    })

    const input = ref('');

    const form = reactive({
        region: '',
    });

    const rabe = ref('http://img-test.gz-yami.com/');

    let editList:any = reactive({
      list:{}
    })

    const data = reactive({
        orderList:order.orderList
    })

    const dialogVisible = ref(false);

    const value1 = ref('');

    const value2 = ref('');

    const small = ref(false);

    const background = ref(false);

    const disabled = ref(false);

    const defaultTime1 = new Date(2000, 1, 1, 12, 0, 0); // '12:00:00'

    const defaultTime2: [Date, Date] = [
      new Date(2000, 1, 1, 12, 0, 0),
      new Date(2000, 2, 1, 8, 0, 0),
    ]; // '12:00:00', '08:00:00'

    const onSubmit = () => {
      console.log('submit!');
    };

    const edit = (list:any) => {
      dialogVisible.value = true
      editList.list = list
      console.log(editList,'回显数据修改');
    }
    
    const handleSizeChange = async (val: number) => {
    console.log(`${val} items per page`);
    let res = await _get_orderList({
        current: 1,
        size: val,
    });
    data.orderList = res.data.records;
    };

    const handleCurrentChange = async (val: number) => {
    console.log(val);
    let res = await _get_orderList({
        current: val,
        size: 10,
    });
    data.orderList = res.data.records;
    };
    const letfollow = () => {
        // 定义表头
        const tableHeader = {
            id:"订单编号",
            title:"",
            count:"购买量"
        }
        useJsonToExcel({
            data:data.orderList,
            header:tableHeader,
            fileName:'销售记录',
            bookType:'xlsx'
        })
    }
// onMounted(()=>{
    
// })
</script>

<style lang="scss">
.order_main{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    min-width: 1300px;
    margin-bottom: 60px;
    .order_inner {
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 5px 2px #ccc;
}
.order_header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.order_header .el-input {
  width: 202px;
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
.el-date-editor {
  width: 400px !important;
  height: 40px !important;
}
.order_main {
  width: 100%;
  height: auto;
}
.order_card {
  width: 96%;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
}
.card_header {
  width: 100%;
  height: 50px;
  display: flex;
  font-size: 14px;
  padding-left: 22px;
  padding-right: 20px;
}
.card_main {
  width: 100%;
  height: calc(100% - 50px);
  border: 1px solid #ccc;
}
.card_header span {
  line-height: 50px;
}
.card_header span:nth-child(1) {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.card_header span:nth-child(1) b {
  font-weight: normal;
}
.card_header span:nth-child(2) {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_header span:nth-child(3) {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_header span:nth-child(4) {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_header span:nth-child(5) {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_header span:nth-child(6) {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_top {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  background: rgb(245, 244, 244);
}
.card_top span {
  margin-left: 10px;
  line-height: 40px;
}

.el-button+.el-button {
    margin: 10px;
}

.card_center {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  display: flex;
}
.card_center > div {
  width: 20%;
  height: auto;
  border-left: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_center > div:nth-child(5) a {
  text-decoration-line: none;
  color: rgb(0, 183, 255);
}
.card_center > div:nth-child(2) {
  flex-direction: column;
  text-align: center;
}
.card_center > div:nth-child(1) {
  border-left: none;
}
.card_center > div:nth-child(2) p:nth-child(1) {
  color: red;
}
.card_center > div:nth-child(2) p:nth-child(2) {
  margin-top: 10px;
}
.center_left {
  width: 70% !important;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.left_card {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #3333;
}
.left_card:last-child {
  border-bottom: none;
}
.card_left {
  width: 50%;
  height: 100%;
  padding: 10px;
}
._left {
  width: 100%;
  height: 100%;
  display: flex;
}
._left .img {
  width: 100px;
  height: 100px;
  /* border: 1px solid #ccc; */
}
._left .img img {
  width: 100%;
  height: 100%;
}
._left .img_item {
  width: 70%;
  height: 100%;
  padding-left: 10px;
}
._left .img_item p:nth-child(2) {
  margin-top: 20px;
  color: #ccc;
}
.right {
  width: 20%;
  height: 100%;
  text-align: center;
}
.right p:nth-child(2) {
  margin-top: 10px;
}
.card_bottom {
  width: 100%;
  height: 50px;
  font-size: 14px;
  background: rgb(234, 246, 248);
  display: flex;
}
.card_bottom span {
  margin-left: 10px;
  line-height: 50px;
}
.el-overlay-dialog {
  background: rgba(255, 255, 255, 0.753) !important;
}
.el-dialog {
  width: 80% !important;
  height: auto;
}
.el-dialog__body {
  width: 100%;
  height: 100%;
  padding: 40px;
  color: rgb(66, 66, 66);
}
.delog_header {
  width: 100%;
  height: 50px;
  line-height: 30px;
}
.el-dialog{
  padding: 20px;
}
.el-dialog__header{
  padding: 0;
}
.el-dialog__body{
  padding: 0;
}
.step {
  width: 90%;
  height: 100px;
  margin: 0 auto;
  padding-top: 20px;
}
.tag {
  width: 100%;
  height: 100px;
  line-height: 100px;
}
.card {
  width: 100%;
  height: auto;
  display: flex;
  border-top: 1px solid #ccc;
}
.cardLeft {
  width: 50%;
  height: 100%;
  border-right: 1px solid #3333;
}
.cardLeft_header {
  width: 96%;
  height: 90px;
  line-height: 70px;
  display: flex;
  border-bottom: 1px dashed #ccc;
}
.cardLeft_header .img {
  width: 18px;
  height: 18px;
  margin-right: 20px;
  margin-top: 4px;
}
.cardLeft_header .img img {
  width: 100%;
  height: 100%;
}
.cardLeft_main {
  width: 100%;
  height: calc(100% - 90px);
  p{
    height: 50px;
    width: 100%;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
      width: 18px;
      height: 18px;
    }
    .span_left{
      width: 45%;
      text-align: right;
    }
    .span_right{
      width: 45%;
      text-align: left;
    }
  }
}
// .cardLeft_main p:nth-child(1) {
//   margin-top: 20px;
// }
// .cardLeft_main p:nth-child(1) img {
//   margin-right: 20px;
// }
// .cardLeft_main p:nth-child(2) {
//   margin-left: 70px;
//   margin-top: 50px;
// }
// .cardLeft_main p:nth-child(3) {
//   margin-left: 40px;
//   margin-top: 50px;
// }
// .cardLeft_main p:nth-child(4) img {
//   margin-right: 5px;
// }
// .cardLeft_main p img {
//   width: 18px;
//   height: 18px;
// }
.cardRight {
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.cardRight_header {
  width: 100%;
  height: 90px;
  line-height: 70px;
  display: flex;
  border-bottom: 1px dashed #ccc;
  margin-left: 20px;
}
.cardRight_header .img {
  width: 18px;
  height: 18px;
  margin-right: 20px;
  margin-top: 4px;
}
.cardRight_header .img img {
  width: 100%;
  height: 100%;
}
.ii {
  width: 100%;
  height: 130px;
  display: flex;
  line-height: 130px;
}
.ii .img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  margin-top: 3px;
}
.ii .img img {
  width: 100%;
  height: 100%;
}
.iii {
  width: 100%;
  height: 60px;
  display: flex;
  line-height: 60px;
  margin-left: 20px;
}
.iii .img {
  width: 18px;
  height: 18px;
  margin-right: 20px;
  margin-top: 3px;
}
.iii .img img {
  width: 100%;
  height: 100%;
}
.shop {
  width: 100%;
  height: auto;
  border: 1px solid #3333;
  margin-top: 40px;
  color: rgb(88, 88, 88);
}
.shop_top {
  width: 100%;
  height: 50px;
  display: flex;
  color: rgb(131, 130, 130);
}
.shop_topcard {
  width: 80% !important;
  padding-left: 10px;
  justify-content: space-between !important;
}
.shop_top > div {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-right: 1px solid #3333;
  border-bottom: 1px solid #3333;
}
.shop_top > div:nth-child(4) {
  border-right: none;
}
.shop_center {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
}
.shop_card {
  width: 80% !important;
  display: flex;
  padding: 20px 0;
  padding-left: 10px;
}
.shop_center > div {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #3333;
}
.shop_center > div:nth-child(4) {
  border-right: none;
}
.shop_center:hover {
  transition: all 0.5s;
  background: #f5f7fa;
}
.shop_card .img {
  width: 100px;
  height: 100px;
  border: 1px solid #3333;
  .edit_img{
    width: 100%;
    height: 100%;
  }
}
.shop_card .img_item {
  width: 81%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.price {
  width: 100%;
  height: 150px;
  border-bottom: 1px solid #ccc;
  display: flex;
  margin-top: 10px;
}
.price_left {
  width: 70%;
  height: 100%;
}
.price_right {
  width: 30%;
  height: 100%;
}
.price_right div {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(131, 130, 130);
}
._order {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px dashed #3333;
}
._order_item {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  color: rgb(0, 183, 255);
  font-size: 13px;
}
.pagintion {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  align-items: center;
}
}
</style>