//分组管理

<template>
  <div>
    <div v-if="isRouterAlive">
      <el-form
        v-if="show"
        ref="searchForm"
        :inline="true"
        :model="formInline"
        class="demo-form-inline"
      >
        <el-form-item label="标签名" prop="title">
          <el-input v-model="formInline.title" placeholder="搜索标签名" />
        </el-form-item>
        <el-form-item label="状态" prop="status">
          <el-select
            v-model="formInline.status"
            class="m-2"
            placeholder="Select"
            size="large"
          >
            <el-option :value="0" label="禁用" />
            <el-option :value="1" label="正常" />
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit">搜索</el-button>
          <el-button @click="resetFields(searchForm)">清空</el-button>
        </el-form-item>
      </el-form>
      <div class="action">
        <div><el-button type="primary" @click="add">新增</el-button></div>
        <div class="iconList">
          <el-tooltip
            class="box-item"
            effect="dark"
            content="刷新"
            placement="top-start"
          >
            <el-icon @click="getGroupingList({ ...params })">
              <Refresh />
            </el-icon>
          </el-tooltip>
          <el-tooltip
            class="box-item"
            effect="dark"
            content="显隐"
            placement="top-start"
          >
            <el-icon @click="showColumn = !showColumn">
              <Menu />
            </el-icon>
          </el-tooltip>
          <el-tooltip
            class="box-item"
            effect="dark"
            content="搜索"
            placement="top-start"
          >
            <el-icon @click="show = !show">
              <Search />
            </el-icon>
          </el-tooltip>
        </div>
      </div>
      <Table :column="getColumn" :tableData="GroupingList" />
      <Pagination
        :currentPage="params.current"
        :pageSize="params.size"
        :total="total"
        @handleSizeChange="handleSizeChange"
        @handleCurrentChange="handleCurrentChange"
      />
      <el-dialog v-model="dialogVisible" :title="type" width="30%">
        <el-form
          v-if="editData"
          ref="ruleFormRef"
          :model="editData"
          label-width="120px"
        >
          <el-form-item label="参数名" :prop="editData.title">
            <el-input v-model="editData.title" placeholder="参数名" />
          </el-form-item>
          <el-form-item label="参数值" :prop="editData.status">
            <el-radio-group v-model="editData.status" class="ml-4">
              <el-radio :label="1" size="large">正常</el-radio>
              <el-radio :label="0" size="large">禁用</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="备注" :prop="editData.style">
            <el-radio-group v-model="editData.style" class="ml-4">
              <el-radio :label="0" size="large">一列一个</el-radio>
              <el-radio :label="1" size="large">一列两个</el-radio>
              <el-radio :label="2" size="large">一列三个</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="排序" :prop="editData.seq">
            <el-input v-model="editData.seq" placeholder="排序" />
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="handleClose()">取消</el-button>
            <el-button type="primary" @click="sure">确定</el-button>
          </el-form-item>
        </el-form>
      </el-dialog>
    </div>
    <el-dialog v-model="showColumn" title="多选" width="50%">
      <el-transfer
        v-model="leftValue"
        style="text-align: left; display: inline-block"
        :left-default-checked="[]"
        :right-default-checked="[]"
        :render-content="renderFunc"
        :titles="['隐藏', '显示']"
        :format="{
          noChecked: '${total}',
          hasChecked: '${checked}/${total}',
        }"
        :data="column.filter((item: ColumnType) => item.key)"
        @change="handleChange"
      >
        <template #left-footer>
          <el-button class="transfer-footer" size="small">Operation</el-button>
        </template>
        <template #right-footer>
          <el-button class="transfer-footer" size="small">Operation</el-button>
        </template>
      </el-transfer>
    </el-dialog>
  </div>
</template>

<script setup lang="ts">
// import AHead from "@/components/aHead/index.vue";
import Table from "@/components/table/index.vue";
import Pagination from "@/components/pagination/index.vue";
import {
  getGrouping,
  editGrouping,
  saveGrouping,
  delGrouping,
  getGroupingInfo,
} from "../../../../api/prod/pro_grouping";
import { GroupingType, GroupingResType, GroupingReqType } from "./types/index";
import { ColumnType } from "../../../../types/index";
import { ref, nextTick, provide, onMounted, reactive, computed } from "vue";
import { ElMessage, ElMessageBox, FormInstance } from "element-plus";
import type { VNode, VNodeProps } from "vue";
const isRouterAlive = ref(true);
const reload = () => {
  isRouterAlive.value = false;
  nextTick(() => {
    isRouterAlive.value = true;
  });
};
provide("reload", reload);
// 搜索显示隐藏
const show = ref(true);
// 穿梭框
const showColumn = ref(false);
interface Option {
  key: number;
  label: string;
  disabled: boolean;
}

const leftValue = ref([1, 2, 3, 4]);

const renderFunc = (
  h: (type: string, props: VNodeProps | null, children?: string) => VNode,
  option: Option
) => {
  return h("span", null, option.label);
};
const handleChange = (value: number[]) => {
  leftValue.value = value;
};
// 获取列表
const searchForm = ref<FormInstance>();
const params = reactive({
  current: 1,
  size: 10,
});
let GroupingList = ref<GroupingType[]>([]);
let total = ref<number>(0);
const getGroupingList = async (params: GroupingReqType) => {
  let { data } = (await getGrouping({
    ...params,
  })) as {
    data: GroupingResType;
  };
  GroupingList.value = data.records;
  total.value = data.total;
};
// 分页
const handleCurrentChange = (page: number) => {
  params.current = page;
  getGroupingList({
    ...params,
  });
};
const handleSizeChange = (size: number) => {
  params.size = size;
  getGroupingList({
    ...params,
  });
};
// 搜索
const formInline = reactive({
  title: "",
  status: undefined,
});
const onSubmit = () => {
  params.current = 1;
  getGroupingList({
    ...params,
    ...formInline,
  });
};
const resetFields = (formEl: FormInstance | undefined) => {
  if (!formEl) return;
  formEl.resetFields();
};
// 弹框
let dialogVisible = ref(false);
const handleClose = () => {
  dialogVisible.value = false;
};
let type = ref("新增");
let editData = ref<GroupingType>();
// 新增
const add = () => {
  dialogVisible.value = true;
  editData.value = {
    title: "",
    status: 0,
    style: 0,
    seq: 0,
  };
};
// 编辑
const edit = (edit: GroupingType) => {
  dialogVisible.value = true;
  editData.value = edit;
};
const sure = async () => {
  if (type.value === "新增") {
    try {
      await saveGrouping({ ...(editData.value as GroupingType) });
    } catch (err) {
      console.log(err);
    }
  } else {
    try {
      await editGrouping({ ...(editData.value as GroupingType) });
    } catch (err) {
      console.log(err);
    }
  }
  await getGroupingList({
    ...params,
  });
  dialogVisible.value = false;
};

// 删除
const del = async (id: number) => {
  ElMessageBox.confirm("你确定要删除该参数?", "Warning", {
    confirmButtonText: "OK",
    cancelButtonText: "Cancel",
    type: "warning",
  })
    .then(async () => {
      try {
        await delGrouping(id as number);
        await getGroupingList({
          ...params,
        });
        ElMessage({
          type: "success",
          message: "删除成功",
        });
      } catch (error) {
        console.log(error);
        ElMessage({
          type: "error",
          message: "删除失败，请重新操作",
        });
      }
    })
    .catch(() => {
      ElMessage({
        type: "info",
        message: "Delete canceled",
      });
    });
};
const column = [
  {
    label: "标签名称",
    props: "title",
    key: 1,
  },
  {
    label: "状态",
    props: "status",
    render(scope: { row: GroupingType }) {
      return scope.row.status === 1
        ? "<span class='normal'>正常</span>"
        : "<span class='danger'>禁用</span>";
    },
    key: 2,
  },
  {
    label: "默认类型",
    props: "isDefault",
    render(scope: { row: GroupingType }) {
      return scope.row.isDefault === 0 ? "自定义类型" : "其他类型";
    },
    key: 3,
  },
  {
    label: "排序",
    props: "seq",
    key: 4,
  },
  {
    label: "操作",
    props: "action",
    width: 340,
    fixed: "right",
    actions: [
      {
        type: "primary",
        name: "编辑",
        icon: "Edit",
        event: async (item: GroupingType) => {
          type.value = "编辑";
          let { data } = (await getGroupingInfo(item.id as number)) as {
            data: GroupingType;
          };
          edit(data);
        },
      },
      {
        type: "danger",
        name: "删除",
        icon: "Delete",
        event: (data: GroupingType) => {
          let num = data.id as number;
          del(num);
        },
      },
    ],
  },
];
const getColumn = computed(() => {
  let arr: ColumnType[] = [];
  leftValue.value.forEach((item) => {
    column.forEach((a) => {
      if (a.key === item) {
        arr.push(a);
      }
      if (!a.key) {
        arr.push(a);
      }
    });
  });
  return [...new Set(arr)];
});
onMounted(() => {
  getGroupingList({
    ...params,
  });
});
</script>
<style scoped lang="scss">
.action {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .iconList {
    font-size: 20px;

    i {
      margin: 0 10px;
    }
  }
}
</style>
