<template>
  <div class="main">
    <div class="box"></div>
        <avue-crud v-model="form"
             :option="option"
             :data="shops.shopList"
             v-model:search="shops.hotSearch"
             @selection-change="all"
              @size-change="shops.noticeCurrent"
            @current-change="shops.noticeSize"
            v-model:page="page"
            @on-load="onLoad"
             >
         
        <template  #title-search="{size}">
            <el-input class="p" style="width:80%" :size='size' placeholder="热搜标题" v-model="shops.hotSearch.title"></el-input>
       </template>

       <template  #content-search="{size}">
            <el-input class="p" style="width:80%" :size='size' placeholder="热搜内容" v-model="shops.hotSearch.content"></el-input>
       </template>

       <template #status-search="{size}" >
         <el-select placeholder="启用状态" v-model="shops.hotSearch.status" :size="size">
            <el-option value="未启用"/>
            <el-option value="启用"/>
         </el-select>
      </template>
       
       <template #search-menu="{row,size}">
         <el-button style="marginTop:20px" type="primary" :size="size" @click="shops.searchhotList(row)">
          搜索
         </el-button>
         <el-button style="marginTop:20px"  type="primary" :size="size" @click="shops.clear(row)">
          清空
         </el-button>
      </template>

        <template #status="scope">
            <el-tag class="tagbig" v-if="scope.row.status===1" size="small">启用</el-tag>
            <el-tag class="tag" v-else size="small">未启用</el-tag>
        </template>
        
        <template #menu='{row,size}'>
            <el-button type="primary" :size="size" @click="updateList(row)">
                 修改
            </el-button>
            <el-button class="btn" type="primary" :size="size" @click="del(row)">
                 删除
            </el-button>
        </template>

        <template #menu-left="{row}">
          <el-button
           type="primary"
           color="#02A1E9"
           icon="el-icon-plus"
           class="left"
           @click="add(row)"
          >
            新建
          </el-button>
          <el-button
           type="primary"
           color="red"
           class="left"
           @click="somedel"
          >
            批量删除
          </el-button>
      </template>
    </avue-crud>

   <el-dialog v-model="dialogFormVisible" class="ta" :title="flag?'新建':'修改'">
          <el-form :model="form" >
            <el-form-item label="* 标题">
              <el-input v-model="form.title" autocomplete="off" />
            </el-form-item>
          </el-form>
          <el-form :model="form">
            <el-form-item label="* 内容">
              <el-input v-model="form.content" autocomplete="off" />
            </el-form-item>
          </el-form>
        <el-form-item label="状态">
              <el-radio-group v-model="form.status" class="ml-4">
                <el-radio label="1">是</el-radio>
                <el-radio label="0">否</el-radio>
              </el-radio-group>
            </el-form-item>
          <template #footer>
            <span class="dialog-footer">
              <el-button @click="dialogFormVisible = false">取消</el-button>
              <el-button type="primary" @click="confirm"
                >确定</el-button
              >
            </span>
          </template>
        </el-dialog>





  </div>
</template>
<script lang="ts" setup>
import {DelhotList,_addhotList,_edithotList} from "../../../api/shop"
import { ref,reactive } from 'vue'
import userStore from '../../../store'
import { ElMessageBox, ElMessage } from 'element-plus'

const data = ref(null)
const dialogFormVisible = ref(false);
const flag=ref(false)
const {shops}=userStore()
let allList=reactive([]) as number[]
shops.hotList()

let form=reactive({
  title:'',
  status:'0',
  seq:0,
  content:'',
  hotSearchId:0
})
const page:any=reactive({
  total:shops.hotDeatil,
  currentPage:shops.hotCurrent,
  pageSize:shops.hotSize
  
})
//新增
const add = (row:any) => {
  dialogFormVisible.value=true
  flag.value=true
  form.title='',
  form.status='0',
  form.seq=0,
  form.content='',
  form.hotSearchId=0
}
//编辑
const updateList=(row:any)=>{
  dialogFormVisible.value=true
  flag.value=false
  form.title=row.title
  form.status=String(row.status)
  form.seq=row.seq
  form.content=row.content
  form.hotSearchId=row.hotSearchId
}

//确认编辑新增
const confirm=async()=>{
 if(flag.value){
  await _addhotList({...form})
 }else{
  await _edithotList({...form})
 }
  dialogFormVisible.value=false
  shops.hotList()
}

const option = {
     align:"center",
     search:{},
     index: false,
     selection: true,
     border:true,
     editBtn:false,
     delBtn:false,
     searchBtn:false,
     addBtn:false,
     emptyBtn:false,
     searchMenuSpan:5,
  column: [{
    label: '热搜标题',
    prop: 'title',
    search:true
  }, 
  {
    label: '热搜内容',
    prop: 'content',
    search:true
  },
  {
    label: '录入时间',
    prop: 'recDate'
  },
  {
    label: '顺序',
    prop: 'seq'
  },
  {
    label: '启用状态',
    prop: 'status',
    slot:true,
    search:true
  }
  ]
}
 
const all=(selection:any)=>{
  allList=[]
  selection.forEach((item:any)=>{
    return allList.push(item.hotSearchId)
  })
}

//多选删除
const somedel=async(row:any,a:string)=>{
  if(a===undefined){
    ElMessageBox.confirm(
      '确定进行批量删除操作？',
      '提示',
      {
        confirmButtonText:'确定',
        cancelButtonText:'取消',
        type:'warning'
      }
    )
    .then(async()=>{
      await DelhotList(allList)
       ElMessage({
        type:'success',
        message:'删除成功'
       })
       shops.hotList()
    })
  }
}

 const del=(row:any)=>{
  var ids=row.hotSearchId
   ElMessageBox.confirm(
    '确定进行删除操作？',
    '提示',
    {
      confirmButtonText:'确定',
      cancelButtonText:'取消',
      type:'warning'
    }
   )
   .then(async()=>{
    const res:any=await DelhotList([ids])
    if(res.status===200){
       ElMessage({
        type:'success',
        message:'删除成功'
       })
       shops.hotList()
    }
   })
 }
  //分页
  const onLoad=(page:any)=>{  
   shops.hotCurrent=page.currentPage
    console.log(shops.hotCurrent)
     shops.hotList()
  }

</script>

<style>
.main{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.btn{
  background: orangered;
  border: none;
}
.tag{
  background: rgb(219, 204, 209);
  color: red;
  height: 30px;
  width: 50px;
}
.tagbig{
  height: 30px;
  width: 50px
}
.box{
  width: 100%;
  height: 30px;
  background: white;
}
.left{
  margin-left: 20px;
}
.ta{
  height: 500px;
}
</style>