<template>
  <div class="main">
    <div class="box"></div>
        <avue-crud v-model="form"
             :option="option"
             :data="shops.indeximgList"
             v-model:search="shops.indexImgSearch"
             @selection-change="all"
             v-model:page="page"
             @on-load="onLoad"
             >
       <template #status-search="{size}" >
         <el-select placeholder="状态" :size="size" v-model="shops.indexImgSearch.status">
            <el-option value="正常"/>
            <el-option value="禁用"/>
         </el-select>
      </template>
       
       <template #search-menu="{row,size}">
         <el-button style="marginTop:20px" type="primary" :size="size" @click="shops.indexSearch(row)">
          搜索
         </el-button>
         <el-button style="marginTop:20px"  type="primary" :size="size" @click="shops.indeximgclear(row)">
          清空
         </el-button>
      </template>

       <template #status="scope">
            <el-tag class="tagbig" v-if="scope.row.status===1" size="small">正常</el-tag>
            <el-tag class="tag" v-else size="small">禁用</el-tag>
        </template>

        <template #imgUrl="scope">
            <img :src="url+scope.row.imgUrl" alt="" class="img">
        </template>

        
        
        <template #menu='{row,size}'>
            <el-button type="primary" :size="size" @click="handleedit(row)">
                 编辑
            </el-button>
            <el-button class="btn" type="primary" :size="size" @click="del(row)">
                 删除
            </el-button>
        </template>

        <template #menu-left="{row}">
          <el-button
           type="primary"
           color="#02A1E9"
           icon="el-icon-plus"
           class="left"
           @click="add(row)"
          >
            新增
          </el-button>
          <el-button
           type="primary"
           color="red"
           class="left"
           @click="somedel"
          >
            批量删除
          </el-button>
      </template>
    </avue-crud>
    
     <el-dialog v-model="dialogVisible" :title="flag ? '新增' : '编辑'" width="50%">
       <span>
         <el-form v-model="form" label-width="120px">
           <el-form-item label="轮播图片">
             <el-upload
               class="avatar-uploader"
               action="https://run.mocky.io/v3/9d059bf9-4660-45f2-925d-ce80ad6c4d15"
               :show-file-list="false"
             >
               <img v-if="form.imgUrl" :src="form.imgUrl" class="avatar" />
               <el-icon v-else class="avatar-uploader-icon"><Plus /></el-icon>
             </el-upload>
           </el-form-item>
           <el-form-item label="顺序">
             <el-input v-model="form.seq" />
           </el-form-item>
           <el-form-item label="状态">
             <el-radio-group v-model="form.status">
               <el-radio label='0'>禁用</el-radio>
               <el-radio label='1'>正常</el-radio>
             </el-radio-group>
           </el-form-item>
           <el-form-item label="类型">
             <el-radio-group v-model="form.type" @change="deleteRelation">
               <el-radio label="1">无</el-radio>
               <el-radio label="0" >商品</el-radio>
             </el-radio-group>
           </el-form-item>
         </el-form>
           <!-- 选择商品弹窗 -->
           <el-form-item >
         <div v-if="form.relation===null" class="checkbox">
           <div v-if="form.type === '0'">
             <el-button 
             v-show="checkList.pic===''"
               size="small" @click="handletype">
               选择商品
             </el-button>
             <div v-show="checkList.pic!==''" class="checks">
                 <img :src="checkList.pic" alt="" class="checkimg">
     
                   <p  class="checkp">{{checkList.prodName}}</p>
           
                <p @click="delc" class="checkdel">删除</p>
             </div>
           </div>
           </div>
         </el-form-item>
       </span>
       <template #footer>
         <span class="dialog-footer">
           <el-button @click="dialogVisible = false">取消</el-button>
           <el-button type="primary" @click="confirm">
             确定
           </el-button>
         </span>
       </template>
     </el-dialog>
     <!-- 选择商品弹窗 -->
     <el-dialog v-model="dialogVisibles"  title="选择商品" width="90%"  @row-click="rowClick">
         <div class="group_table">
          
           <avue-crud :data="shops.swiperList" :option="options" v-model:page='page'
             @on-load="gettype" @size-change="sizeChanges" class="checkbox" @current-change="currentChanges">
             <template #radio="{row}">
               <el-radio v-model="selectRow"
                 :label="row.$index" @change="allcheck(row)"></el-radio>
           </template>
           </avue-crud>
         </div>
       <template #footer="{}" >
         <span class="dialog-footer">
           <el-button @click="dialogVisible = false">取消</el-button>
           <el-button type="primary" @click="confirmtype">
             确定
           </el-button>
         </span>
       </template>
     </el-dialog>
  </div>
</template>
<script lang="ts" setup>
import {DelhotList,_addhotList,_edithotList,DelIndexList,swiperadd,swiperedit} from "../../../api/shop"
import { ref,reactive } from 'vue'
import userStore from '../../../store'
import { ElMessageBox, ElMessage } from 'element-plus'

const data = ref(null)
const dialogFormVisible = ref(false);
const dialogVisible=ref(false)


const {shops}=userStore()
let allList=reactive([]) as number[]
let currentChanges = () => {
  console.log('333');
}
shops.getIndexList()
shops.swiper()
console.log(shops.swiper(),'54654654')
const page={
  total:shops.indexDeatil.total,
  currentPage:shops.indexCurrent,
  pageSize:shops.indexSize
  
}

const url="https://img.mall4j.com/"

let gettype = () => {
  console.log('111');
}
let sizeChanges = () => {
  console.log("222");
}
let flag = ref(false)
 const form = reactive({
   imgUrl: '',
   seq: '',
   des: "",
   status: '0',
   type:'',
   relation: null,
   link: null,
   pic: null,
   prodName: null,
   shopId:'',
   title: null,
   uploadTime:'',
   imgId:''
 })



// 新增
 const add = (row:any) => {
   dialogVisible.value=true
   flag.value=true
   form.imgUrl='',
   form.seq='',
   form.status='0',
   form.type='0'
   checkList.value.pic=''
 }
 // 新增编辑确认弹框
 const confirm =async () => {
   // 判断是否是新增
   if(flag.value){
     await swiperadd({...form})
   }else{
     await swiperedit({...form})
     ElMessage({
                 type: 'success',
                 message: '编辑成功',
             })
   }
 dialogVisible.value=false
 shops.getIndexList()
 }
 // 编辑
 const handleedit=(row:any)=>{
   dialogVisible.value=true
   flag.value=false
   console.log(row,'=====');
   form.imgUrl=row.imgUrl,
   form.seq=row.seq,
   form.status=String(row.status),
   form.type=String(row.type)
   form.relation=row.relation
   form.link=row.link
   form.pic=row.pic
   form.prodName=row.prodName
   form.shopId=row.shopId
   form.title=row.title
   form.uploadTime=row.uploadTime
   form.imgId=row.imgId
 }
 // 选择商品
 const dialogVisibles = ref(false)
 const deleteRelation=()=>{
       form.relation=null
 }
 let checkList=ref({
   pic:'',
   prodName:'',
   brief:'',
   categoryId:'',
   content:'',
   createTime:'',
   deliveryMode:'',
   deliveryTemplateId:'',
   imgUrl:'',
   imgs:'',
   oriPrice:'',
   price:'',
   prodId:'',
   putawayTime:'',
   shopId:'',
   shopName: null,
   skuList: null,
   soldNum: null,
   status:'',
   tagList:'',
   totalStocks:'',
   updateTime:'',
   version: null
 }) as any
 const allcheck=(selection:any)=>{
    checkList.value.pic=selection.pic
    checkList.value.prodName=selection.prodName
    checkList.value.brief=selection.brief
    checkList.value.categoryId=selection.categoryId
    checkList.value.content=selection.content
    checkList.value.createTime=selection.createTime
    checkList.value.deliveryMode=selection.deliveryMode
    checkList.value.deliveryTemplateId=selection.deliveryTemplateId
    checkList.value.imgUrl=selection.imgUrl
    checkList.value.imgs=selection.imgs
    checkList.value.oriPrice=selection.oriPrice
    checkList.value.price=selection.price
    checkList.value.prodId=selection.prodId
    checkList.value.putawayTime=selection.putawayTime
    checkList.value.shopId=selection.shopId
    checkList.value.shopName=selection.shopName
    checkList.value.skuList=selection.skuList
    checkList.value.soldNum=selection.soldNum
    checkList.value.status=selection.status
    checkList.value.tagList=selection.tagList
    checkList.value.totalStocks=selection.totalStocks
    checkList.value.updateTime=selection.updateTime
    checkList.value.version=selection.version
    console.log(selection);
    
 }
 // 弹出选择商品弹窗
 const handletype=()=>{
   dialogVisibles.value=true
 }
 // 确认
 const confirmtype =async () => {
   dialogVisibles.value=false
 }
 // 选择商品删除
 const delc=()=>{
   checkList.value.pic=''
 }
 //单选
 const selectRow=ref(false)
 const rowClick=(row:any)=>{
   console.log(row);
   
 }


//删除
 const del=(row:any)=>{
  var ids=row.imgId
   ElMessageBox.confirm(
    '确定进行删除操作？',
    '提示',
    {
      confirmButtonText:'确定',
      cancelButtonText:'取消',
      type:'warning'
    }
   )
   .then(async()=>{
    const res:any=await DelIndexList([ids])
    if(res.status===200){
       ElMessage({
        type:'success',
        message:'删除成功'
       })
       shops.getIndexList()
    }
   })
 }
 //多选删除
 const all=(selection:any)=>{
  allList=[]
  selection.forEach((item:any)=>{
    return allList.push(item.imgId)
  })
}

const somedel=async(row:any,a:string)=>{
  if(a===undefined){
    ElMessageBox.confirm(
      '确定进行批量删除操作？',
      '提示',
      {
        confirmButtonText:'确定',
        cancelButtonText:'取消',
        type:'warning'
      }
    )
    .then(async()=>{
      await DelIndexList(allList)
       ElMessage({
        type:'success',
        message:'删除成功'
       })
       shops.getIndexList()
    })
  }
}
const option = {
     align:"center",
     search:{},
     index: false,
     selection: true,
     border:true,
     editBtn:false,
     delBtn:false,
     searchBtn:false,
     addBtn:false,
     emptyBtn:false,
     searchMenuSpan:5,
    indexLabel: '序号',
    stripe: true,
    menuAlign: 'center',
    menuWidth: 350,
    refreshBtn: true,
    searchSize: 'mini',
    viewBtn: false,
    props: {
    label: 'label',
    value: 'value'
  },
  column: [
 {
    label: '轮播图片',
    prop: 'imgUrl',
    type: 'upload',
    slot: true,
    listType: 'picture-img'
  },
 
  {
    label: '顺序',
    prop: 'seq'
  },
  {
    label: '启用状态',
    prop: 'status',
    slot:true,
    search:true
  }
  ]
}

    const options={
         border: true,
         stripe: true,
         menuAlign: 'center',
         align: 'center',
         addBtn: false,
         editBtn: false,
         delBtn: false,
         // selection: true,
         // searchMenuSpan:4,
         menu: false, // 移除操作栏
           column:[
           {
               label: '',
               prop: 'radio',
               width: 60,
               hide: false,
         },
           {
               label:'产品名称',
               prop:'prodName',
             },{
               label: '产品图片',
               prop: 'pic',
               type: 'upload',
               slot: true,
               listType: 'picture-img'
           },
           ]
         }
           //分页
  const onLoad=(page:any)=>{
   shops.indexCurrent=page.currentPage
    shops.getIndexList()
  }
</script>

<style lang="scss">
.main{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.btn{
  background: orangered;
  border: none;
}
.tag{
  background: rgb(219, 204, 209);
  color: red;
  height: 30px;
  width: 50px;
}
.tagbig{
  height: 30px;
  width: 50px
}
.box{
  width: 100%;
  height: 30px;
  background: white;
}
.left{
  margin-left: 20px;
}
.ta{
  height: 500px;
}
.img{
    width: 100px;
    height: 100px;
}

.card-prod-bottom {
  position: relative;
  text-align: left;
  .card-prod-name {
    margin: auto;
    padding: 0 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 118px;
    display: inline-block;
  }
  .card-prod-name-button {
    position: absolute;
    top: 24px;
    right: 10px;
  }
}
.avatar-uploader .el-upload {
 border: 1px dashed var(--el-border-color);
border-radius: 6px; cursor: pointer;
 position: relative;
 overflow: hidden;
 transition: var(--el-transition-duration-fast);
}
.avatar-uploader{
 border: 1px #ccc solid
}
.avatar-uploader .avatar {
 width: 178px;
 height: 178px;
 display: block;
}
.avatar-uploader .el-upload:hover {
 border-color: var(--el-color-primary);
}
 .produce {
   width: 100%;
   height: 100%;
   padding: 24px;
   box-sizing: border-box;
 
   .button {
     color: #fff !important;
   }
 
   .produce_table {
     margin-top: 10px;
   }
 }
 
 svg {
   margin-right: 5px;
 }
 .dialog-footer button:first-child {
   margin-right: 10px;
 }
 .avatar-uploader .el-upload {
   border: 1px dashed var(--el-border-color);
   border-radius: 6px;
   cursor: pointer;
   position: relative;
   overflow: hidden;
   transition: var(--el-transition-duration-fast);
 }
 .avatar-uploader{
   border: 1px #ccc solid
 }
 .avatar-uploader .avatar {
   width: 178px;
   height: 178px;
   display: block;
 }
 .avatar-uploader .el-upload:hover {
   border-color: var(--el-color-primary);
 }
 
 .el-icon.avatar-uploader-icon {
   font-size: 28px;
   color: #8c939d;
   width: 178px;
   height: 178px;
   text-align: center;
 }
 .checkbox{
   width: 150px;
   height: 100px;
   margin-left: 100px;
 }
 .group{
         width: 100%;
         height: 100%;
         padding: 24px;
         box-sizing: border-box;
         form{
             width: 100%;
             display: flex;
             font-size: 12px !important;
             .el-form-item{
                 margin-right: 10px;
             }
         }
         .group_table{
             margin-top: 10px;
             .group_table_pagination{
                 width: 100%;
                 height: 50px;
                 display: flex;
                 align-items: center;
                 justify-content: flex-end;
             }
         }
     }
     .img1{
       width: 100px;
       height: 100px;
     }
     .checkbox{
       width: 85%;
       height: 90%;
     }
     .checks{
       width: 110px;
       height: 180px;
       background: #fff;
       border: 1px #ccc solid;
       box-shadow: 0 15px 15px 5px #eee;
       border-radius: 10px;
       overflow: hidden;
     }
     .checkp{
       width: 90px;
       font-size: 13px;
       margin-left: 5px;
       overflow: hidden;
       white-space: nowrap;
       text-overflow: ellipsis;
 
     }
     .checkimg{
       width: 100%;
       height: 110px;
     }
     .checkdel{
       margin-left:80px ;
       color: #02A1E9;
       font-size: 14px;
       cursor: pointer;
     }
</style>