/<template>
   <div class="main">
  <div class="box"></div> 
     <avue-crud v-model="form"
            v-model:page="page"
             :option="option"
            :data="shops.noticeList"
            v-model:search="shops.shopSearch"
            @size-change="shops.noticeCurrent"
            @current-change="shops.noticeSize"
            >
        <div class="box"></div>
       <!-- 搜索 -->
      <template  #title-search="{size}">
            <el-input class="p" style="width:80%" :size='size' placeholder="公告内容" v-model="shops.shopSearch.title"></el-input>
      </template>

      <template #status-search="{size}" >
         <el-select placeholder="状态" v-model="shops.shopSearch.status"  :size="size">
            <el-option value="撤销"/>
            <el-option value="公布"/>
         </el-select>
      </template>

      <template #isTop-search="{size}">
         <el-select  placeholder="是否置顶" v-model="shops.shopSearch.isTop" :size="size">
            <el-option value="是"/>
            <el-option value="否"/>
         </el-select>
      </template>

      <template #search-menu="{row,size}">
         <el-button style="marginTop:20px" type="primary" :size="size" @click="shops.searchshopList(row)">
          搜索
         </el-button>
         <el-button style="marginTop:20px"  type="primary" :size="size" @click="shops.clear(row)">
          清空
         </el-button>
      </template>
      <!-- 新建 -->
      <template #menu-left="{row}">
          <el-button
           type="primary"
           color="#02A1E9"
           icon="el-icon-plus"
           class="left"
           @click="addList(row)"
          >
            新建
          </el-button>
      </template>
        <!-- 状态 -->
        <template #status="scope">
            <el-tag class="tagbig" v-if="scope.row.status===1" size="small">公布</el-tag>
            <el-tag class="tag" v-else size="small">撤销</el-tag>
        </template>
        <!-- 是否置顶 -->
        <template #isTop="scope">
            <el-tag class="tagbig" v-if="scope.row.isTop===1" size="small">是</el-tag>
            <el-tag class="tagbig" v-else size="small">否</el-tag>
        </template>

        <!-- 操作插槽 -->
        <template #menu='{row,size}'>
            <el-button type="primary" :size="size" @click="updateList(row)">
                 编辑
            </el-button>
            <el-button class="btn" type="primary" :size="size" @click="dell(row)">
                 删除
            </el-button>
        </template>
        </avue-crud>

       <el-dialog v-model="dialogFormVisible" :title="flag?'新增':'编辑'">
          <el-form :model="form">
            <el-form-item label="公告标题" >
              <el-input v-model="form.title" autocomplete="off" />
            </el-form-item>
            <el-form-item label="状态">
              <el-radio-group v-model="form.status" class="ml-4">
                <el-radio label="1">公布</el-radio>
                <el-radio label="0">撤销</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="置顶">
              <el-radio-group v-model="form.isTop" class="ml-4">
                <el-radio label="1">是</el-radio>
                <el-radio label="0">否</el-radio>
              </el-radio-group>
            </el-form-item>
           <el-form-item label="公告内容" >
              <el-input v-model="form.content" autocomplete="off" />
            </el-form-item>
          </el-form>
          <template #footer>
            <span class="dialog-footer">
              <el-button @click="dialogFormVisible = false">取消</el-button>
              <el-button type="primary" @click="confirm"
                >确定</el-button
              >
            </span>
          </template>
        </el-dialog>
   </div>
</template>

<script  lang="ts" setup>
import {_addnoticeList,DelshopList,_editnoticeList} from "../../../api/shop"
import { ElMessageBox, ElMessage } from 'element-plus'
import { reactive, ref } from 'vue'
import userStore from '../../../store'

const data = ref(null)
const dialogFormVisible = ref(false);
const flag=ref(false)

const { shops}=userStore()
shops.getShopList()

const page={
  total:shops.noticeDeatil,
  currentPage:shops.noticeCurrent,
  pageSize:shops.noticeSize
  
}

const onLoad=(page:any)=>{
  shops.noticeCurrent=page.currentPage
  shops.getShopList()
}

let form=reactive({
  title:'',
  status:'0',
  isTop:'0',
  content:'',
  id:0
})

//新增
const addList = (row:any) => {
  dialogFormVisible.value=true
  flag.value=true
  form.title='',
  form.status='0',
  form.isTop='0',
  form.content='',
  form.id=0
}
//编辑
const updateList=(row:any)=>{
  dialogFormVisible.value=true
  flag.value=false
  form.title=row.title
  form.status=String(row.status)
  form.isTop=String(row.isTop)
  form.content=row.content
  form.id=row.id
}
//删除
 const dell=(row:any)=>{
   ElMessageBox.confirm(
    '确定进行删除操作？',
    '提示',
    {
      confirmButtonText:'确定',
      cancelButtonText:'取消',
      type:'warning'
    }
   )
   .then(async()=>{
    const res:any=await DelshopList([row.id])
    if(res.status===200){
       ElMessage({
        type:'success',
        message:'删除成功'
       })
       shops.getShopList()
    }
   })
 }

const confirm=async()=>{
 if(flag.value){
  await _addnoticeList({...form})
 }else{
  await _editnoticeList({...form})
 }
  dialogFormVisible.value=false
  shops.getShopList()
}


const option = {
  align:"center",
    search:{},
    index: true,
    border:true,
     editBtn:false,
     delBtn:false,
     searchBtn:false,
     addBtn:false,
     emptyBtn:false,
     searchMenuSpan:5,
    column: [{
      label: '公告内容',
      prop: 'title',
      width:"200px",
      search:true
    },
    {
      label: '状态',
      prop: 'status',
      slot:true,
      search:true
    },
    {
      label: '是否置顶',
      prop: 'isTop',
      slot:true,
      search:true 
    },
  
  ]
}

</script>

<style>
.main{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.btn{
  background: orangered;
  border: none;
}
.tag{
  background: rgb(219, 204, 209);
  color: red;
  height: 30px;
  width: 50px;
}
.tagbig{
  height: 30px;
  width: 50px
}
.box{
  width: 100%;
  height: 30px;
  background: white;
}
.left{
  margin-left: 20px;
}
</style>