<template>
  <div class="main">
    <div class="box"></div>
        <avue-crud v-model="form"
             :option="option"
            
             :data="shops.pickaddrList"
             v-model:search="shops.pickaddrSearch"
             @selection-change="all"
             v-model:page="page"
             >
         
        <template  #title-search="{}">
            <el-input class="p" style="width:80%"  placeholder="自提点名称" v-model="shops.pickaddrSearch.addrName"></el-input>
       </template>

       <template #search-menu="{row,size}">
         <el-button  type="primary" :size="size" @click="shops.searchpickList(row)">
          搜索
         </el-button>
         <el-button   type="primary" :size="size" @click="shops.pickclear(row)">
          清空
         </el-button>
      </template>
        <template #menu='{row,size}'>
            <el-button type="primary" :size="size" @click="updateList(row)">
                 修改
            </el-button>
            <el-button class="btn" type="primary" :size="size" @click="del(row)">
                 删除
            </el-button>
        </template>

        <template #menu-left="{row}">
          <el-button
           type="primary"
           color="#02A1E9"
           icon="el-icon-plus"
           class="left"
           @click="add(row)"
          >
            新建
          </el-button>
          <el-button
           type="primary"
           color="red"
           class="left"
           @click="somedel"
          >
            批量删除
          </el-button>
      </template>
    </avue-crud>

      <!-- 弹框 -->
     <el-dialog v-model="dialogFormVisible" :title="flag ? '新增' : '编辑'" width="65%">
      <span>
        <el-form v-model="form" label-width="120px">
          <el-form-item label="名称">
            <el-input v-model="form.addrName" />
          </el-form-item>
          <el-form-item label="省份">
            <el-select v-model="valu" class="m-2" placeholder="请选择" size="large">
              <el-option v-for="(item,index) in city" :key="index" :value="item.areaName" @click='sel(item)' />
            </el-select>
            <el-select v-model="valu1" class="m-2" placeholder="请选择" size="large">
              <el-option v-for="(item,index) in city1" :key="index" :value="item.areaName" @click='sel1(item)' />
            </el-select>
            <el-select v-model="valu2" class="m-2" placeholder="请选择" size="large">
              <el-option v-for="(item,index) in city2" :key="index" :value="item.areaName" @click='sel2(item)' />
            </el-select>
          </el-form-item>
          <el-form-item label="地址">
            <el-input v-model="form.addr" />
          </el-form-item>
          <el-form-item label="手机号">
            <el-input v-model="form.mobile" />
          </el-form-item>
        </el-form>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">取消</el-button>
          <el-button type="primary" @click="confirm">
            确定
          </el-button>
        </span>
      </template>
    </el-dialog>
   
  </div>
</template>
<script lang="ts" setup>
import { _addhotList, _edithotList, delPick, _getaddrList, _addpicktList, _updatepicktList } from "../../../api/shop"
import { ref,reactive,computed, watch, onMounted  } from 'vue'
import userStore from '../../../store'
import { ElMessageBox, ElMessage } from 'element-plus'

const dialogFormVisible = ref(false);
const data = ref(null)
const {shops}=userStore()
let allList:any=reactive([]) 

shops.getPickaddrList()

const page={
  total:shops.pickDeatil,
  currentPage:shops.pickCurrent,
  pageSize:shops.pickSize
  
}

 const all=(selection:any)=>{
  allList = []
  selection.forEach((item:any)=>{
    return allList.push(item.addrId)
  })
}

//单删
 const del=(row:any)=>{
  var ids=row.addrId
   ElMessageBox.confirm(
    '确定进行删除操作？',
    '提示',
    {
      confirmButtonText:'确定',
      cancelButtonText:'取消',
      type:'warning'
    }
   )
   .then(async()=>{
    const res:any=await delPick([ids])
    if(res.status===200){
       ElMessage({
        type:'success',
        message:'删除成功'
       })
       shops.getPickaddrList()
    }
   })
 }

 //多选删除
 const somedel=async(row:any,a:string)=>{
  if(a===undefined){
    ElMessageBox.confirm(
      '确定进行批量删除操作？',
      '提示',
      {
        confirmButtonText:'确定',
        cancelButtonText:'取消',
        type:'warning'
      }
    )
    .then(async()=>{
      await delPick(allList)
       ElMessage({
        type:'success',
        message:'删除成功'
       })
       shops.getPickaddrList()
    })
  }
}


const option = {
     align:"center",
     search:{},
     index: false,
     selection: true,
     border:true,
     editBtn:false,
     delBtn:false,
     searchBtn:false,
     addBtn:false,
     emptyBtn:false,
     searchMenuSpan:5,
  column: [{
    label: '自提点名',
    prop: 'addrName',
    search:true
  }, 
  {
    label: '手机号',
    prop: 'mobile',
  },
  {
    label: '省份',
    prop: 'province',
  },
  {
    label: '城市',
    prop: 'city',
  },
  {
    label: '区/县',
    prop: 'area',
  },
  {
    label: '地址',
    prop: 'addr',
  },
  
  ]
}   

let dialogVisible = ref(false)
let flag = ref(false)
const form = reactive({
  addrName: '',
  addr: '',
  mobile: '',
  addrId:0,
})
//新增
const add = (row:any) => {
  dialogFormVisible.value = true;
  flag.value = true;
  form.addrName='';
  form.addr='';
  form.mobile='';
  valu.value = '请选择'
  valu1.value = '请选择'
  valu2.value = '请选择'
}
//编辑
const updateList = (row: any) => {
  console.log(row);
  
  dialogFormVisible.value = true
  flag.value = false
  form.addrName=row.addrName;
  form.addr=row.addr;
  form.mobile=row.mobile;
  form.addrId=row.addrId;
  valu.value = row.province
  valu1.value = row.city
  valu2.value = row.area
}
//点击确定按钮
const confirm = async () => {
  //新增
  if (flag.value) {
     await _addpicktList({ ...form ,province:valu.value,city:valu1.value,area:valu2.value})
  } else {//编辑
    // console.log(form);
     await _updatepicktList({ ...form ,province:valu.value,city:valu1.value,area:valu2.value})
  }
  dialogFormVisible.value = false;
  shops.getPickaddrList()
}



//三级联动

let valu = ref('请选择')
let valu1 = ref('请选择')
let valu2 = ref('请选择')
let city = ref([]) as any
let city1 = ref([]) as any
let city2 = ref([]) as any
const getaddrList = async (query: any) => {
  const { data }:any = await _getaddrList(query)
  city.value = data
}
getaddrList({ pid: 0 })
//省
const sel = async (val: any) => {
  valu.value = val.areaName
  const { data }:any = await _getaddrList({ pid: val.areaId })
  city1.value = data
  valu1.value='请选择';
}
//市
const sel1 = async (val: any) => {
  valu1.value = val.areaName
  const { data }:any = await _getaddrList({ pid: val.areaId })
  city2.value = data
  valu2.value='请选择';
}
//区
const sel2 =(val:any)=>{
  valu2.value = val.areaName
}
 const onLoad=(page:any)=>{  
   shops.pickCurrent=page.currentPage
   
     shops.getPickaddrList()
  }

</script>

<style>
.main{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.btn{
  background: orangered;
  border: none;
}
.tag{
  background: rgb(219, 204, 209);
  color: red;
  height: 30px;
  width: 50px;
}
.tagbig{
  height: 30px;
  width: 50px
}
.box{
  width: 100%;
  height: 30px;
  background: white;
}
.left{
  margin-left: 20px;
}
.ta{
  height: 500px;
}



</style>