<template>
  <div class="main">
    <div class="box"></div>
        <avue-crud v-model="form"
             :option="option"
             :data="shops.transportList"
             v-model:search="shops.transportSearch"
             @selection-change="all"
             v-model:page="page"
             >
         
        <template  #title-search="{size}">
            <el-input class="p" style="width:80%" :size='size' placeholder="热搜标题" v-model="shops.transportSearch.transName"></el-input>
       </template>

       <template #search-menu="{row,size}">
         <el-button  type="primary" :size="size" @click="shops.searchTransportList(row)">
          搜索
         </el-button>
         <el-button   type="primary" :size="size" @click="shops.transportclear(row)">
          清空
         </el-button>
      </template>
        <template #menu='{row,size}'>
            <el-button type="primary" :size="size" @click="updateList(row)">
                 修改
            </el-button>
            <el-button class="btn" type="primary" :size="size" @click="del(row)">
                 删除
            </el-button>
        </template>

        <template #menu-left="{row}">
          <el-button
           type="primary"
           color="#02A1E9"
           icon="el-icon-plus"
           class="left"
           @click="add(row)"
          >
            新建
          </el-button>
          <el-button
           type="primary"
           color="red"
           class="left"
           @click="somedel"
          >
            批量删除
          </el-button>
      </template>
    </avue-crud>
      <!-- 弹框 -->
  </div>
</template>
<script lang="ts" setup>
import Freight from "../../../components/freight-table/index.vue"
import {_addhotList,_edithotList,TanrList} from "../../../api/shop"
import { ref,reactive,defineComponent } from 'vue'
import userStore from '../../../store'
import { ElMessageBox, ElMessage } from 'element-plus'

const data = ref(null)
const dialogFormVisible = ref(false);
const {shops}=userStore()
let allList=reactive([]) as number[]
shops.getTransportList()

let add = (row:any) => {
  console.log(row);
}
const page={
  total:shops.tranDeatil.total,
  currentPage:shops.tranCurrent,
  pageSize:shops.tranSize
}

let updateList = (row:any) => {
  console.log(row,"当前行数据");
}

const form = reactive({})

const option = {
     align:"center",
     search:{},
     index: false,
     selection: true,
     border:true,
     editBtn:false,
     delBtn:false,
     searchBtn:false,
     addBtn:false,
     emptyBtn:false,
     searchMenuSpan:5,
      column: [{
        label: '模板名称',
        prop: 'transName',
        search:true
      }]
}
 //新建
 const all=(selection:any)=>{
  allList=[]
  selection.forEach((item:any)=>{
    return allList.push(item.transportId)
  })
}
//多选删除
const somedel=async(row:any,a:string)=>{
  if(a===undefined){
    ElMessageBox.confirm(
      '确定进行批量删除操作？',
      '提示',
      {
        confirmButtonText:'确定',
        cancelButtonText:'取消',
        type:'warning'
      }
    )
    .then(async()=>{
      await TanrList(allList)
       ElMessage({
        type:'success',
        message:'删除成功'
       })
       shops.getTransportList()
    })
  }
}

 const del=(row:any)=>{
  var ids=row.transportId
   ElMessageBox.confirm(
    '确定进行删除操作？',
    '提示',
    {
      confirmButtonText:'确定',
      cancelButtonText:'取消',
      type:'warning'
    }
   )
   .then(async()=>{
    const res:any=await TanrList([ids])
    if(res.status===200){
       ElMessage({
        type:'success',
        message:'删除成功'
       })
       shops.getTransportList()
    }
   })
 }
const onLoad=(page:any)=>{
   shops.tranCurrent=page.currentPage
    shops.getTransportList()
  }


</script>

<style>
.main{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.btn{
  background: orangered;
  border: none;
}
.tag{
  background: rgb(219, 204, 209);
  color: red;
  height: 30px;
  width: 50px;
}
.tagbig{
  height: 30px;
  width: 50px
}
.box{
  width: 100%;
  height: 30px;
  background: white;
}
.left{
  margin-left: 20px;
}
.ta{
  height: 500px;
}
</style>